<!-- =========================================================================
    HEADER 
========================================================================= -->
<header>
    <div class="bg-header-blue py-2 px-3 mb-2">
        <h5 class="text-white m-0">Configuraciones / Parqueadero</h5>
    </div>
    <ul class="nav nav-tabs px-3" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark active" id="ticket1-tab" routerLink="/configuraciones/parqueadero"><i class="bi-gear" style="font-size: 1rem"></i> Parqueadero</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark" id="ticket1-tab" routerLink="/dashboard/parqueadero/reportes"><i class="bi-gear" style="font-size: 1rem"></i> Reportes</a>
        </li>

    </ul>
</header>
<!-- =========================================================================
    HEADER 
========================================================================= -->

<div class="container-fluid my-4">

    <!-- BOTONES  -->
    <div class="d-flex flex-wrap gap-3 mt-2 mb-3">
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Categorias</button>
        <button type="button" #btnV class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#VehiculosModal">Vehiculos</button>
        <button type="button" (click)="abrirCaja()" class="btn btn-success" *ngIf="user.cerrada">Abrir Caja</button>
        <button type="button" [routerLink]="['/dashboard', 'corte']" class="btn btn-dark" *ngIf="!user.cerrada"> Cerrar Caja </button>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#entradaSalidas"><i class="bi-arrow-left-right"></i> Entradas y Salidas </button>
        <button #btnCreateClient type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#buscarCliente"><i class="bi-people"></i> Crear Cliente </button>
    </div>
    <!-- BOTONES -->

    <!-- CHECKIN O CHECKOT DE VEHICULOS -->
    <div class="d-flex flex-wrap mb-3">

        <div class="w-50 px-md-3">
            <div class="card">
                <div class="card-body">

                    <h4 class="text-center display-5">
                        <i class="bi bi-box-arrow-in-up-right"></i>
                        <br> Entrada
                    </h4>

                    <div class="formGroup mb-3">
                        <input type="search" (keyup.enter)="checkin(inP.value)" #inP class="form-control" placeholder="Placa">
                    </div>

                    <div class="d-flex flex-column justify-content-center" *ngIf="vCheckin">

                        <div class="mb-3" id="printDiv1" [ngStyle]="{'width': empresa.impresora === 58 ? '14rem' : '24rem'}">

                            <div class="card border mx-auto">
                                <div class="card-body">

                                    <div class="d-flex justify-content-center">
                                        <img *ngIf="empresa?.logo" [src]="empresa?.logo | imagen:'logo'" class="mx-auto" width="200px" alt="">
                                    </div>

                                    <h4 class="card-title mb-0 text-wrap text-center"> {{ empresa?.name }} </h4>
                                    <p class="text-center mb-0" *ngFor="let text of ticketHeader" style="line-height: 1rem;"> {{ text }} </p>


                                    <div class="d-flex flex-column justify-content-center" style="color: #000;">
                                        <p class="mb-0 fs-5">Placa</p>
                                        <h4 class="text-center display-5">
                                            <ngx-barcode [bc-value]="vCheckin.placa" [bc-display-value]="true"></ngx-barcode>
                                        </h4>
                                        <p class="mb-0 fs-4"> Ingreso: {{ vCheckin.fecha | date:'short' }} </p>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div>
                            <button (click)="printDiv('printDiv1')" type="button" class="btn btn-primary">Imprimir</button>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <div class="w-50 px-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center display-5">
                        <i class="bi bi-box-arrow-up-right"></i>
                        <br> Salida
                    </h4>

                    <div class="formGroup mb-3">
                        <input type="search" (keyup.enter)="checkout(outP.value)" #outP class="form-control" placeholder="Placa" name="" id="">
                    </div>

                    <div class="d-flex flex-column justify-content-center py-4" *ngIf="vCheckout">

                        <div class="" id="printDiv2" [ngStyle]="{'width': empresa.impresora === 58 ? '14rem' : '24rem'}">

                            <div class="card border">
                                <div class="card-body" style="color: #000;">

                                    <div class="d-flex justify-content-center">
                                        <img *ngIf="empresa?.logo" [src]="empresa?.logo | imagen:'logo'" class="mx-auto" width="200px" alt="">
                                    </div>

                                    <h4 class="card-title mb-0 text-wrap text-center"> {{ empresa?.name }} </h4>
                                    <p class="text-center mb-0" *ngFor="let text of ticketHeader" style="line-height: 1rem;"> {{ text }} </p>

                                    <div class="d-flex flex-column justify-content-center" style="color: #000; line-height: 150%;">
                                        <p class="mb-0 fs-4"> Factura: {{ vCheckout.invoice }} </p>
                                        <p class="mb-0 fs-3 fw-bold"> Placa: {{ vCheckout.car.placa }} </p>
                                        <p class="mb-0 fs-4"> Fecha Ingreso: {{ vCheckout.fecha | date:'d/M/yy' }} </p>
                                        <p class="mb-0 fs-4"> Hora Ingreso: {{ vCheckout.fecha | date:'h:mm a' }} </p>
                                        <p class="mb-0 fs-4"> Fecha Salida: {{ vCheckout.checkout | date:'d/M/yy' }} </p>
                                        <p class="mb-0 fs-4"> Hora Salida: {{ vCheckout.checkout | date:'h:mm a' }} </p>
                                        <p class="mb-0 fs-4"> Sub-total: {{ vCheckout.subtotal | divisa }} </p>
                                        <p class="mb-0 fs-4"> IVA: {{ vCheckout.iva | divisa}} </p>
                                        <p class="mb-0 fs-5 fw-bold"> Total: {{ vCheckout.total | divisa }} </p>
                                    </div>

                                    <p class="text-center mb-0" *ngFor="let text of ticketfooter" style="line-height: 1rem;"> {{ text }} </p>

                                </div>
                            </div>

                        </div>

                        <div>
                            <button (click)="printDiv('printDiv2')" type="button" class="btn btn-primary">Imprimir</button>
                        </div>
                    </div>



                </div>
            </div>
        </div>

    </div>
    <!-- CHECKIN O CHECKOT DE VEHICULOS -->

    <!-- TABLA DE VEHICULOS PARQUEADOS -->
    <div class="card">
        <div class="card-body">

            <div class="table-responsive ">
                <table class="table table-borderless table-striped table-hover table-sm animated fadeIn ">
                    <thead class="border-bottom ">
                        <tr>
                            <th class="text-muted " scope="col"># Placa</th>
                            <th class="text-muted " scope="col">Cliente</th>
                            <th class="text-muted " scope="col">Categoria</th>
                            <th class="text-muted " scope="col">Usuario</th>
                            <th class="text-muted " scope="col">fecha</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngIf="parqueos.length === 0" class="text-center ">
                            <th colspan="13" class="py-4">
                                <h4 class="text-muted"> No hay vehiculos parqueados </h4>
                            </th>
                        </tr>

                        <tr class="trHover" *ngFor="let parq of parqueos; let i = index">
                            <th scope="row ">{{ parq.placa }}</th>
                            <td>{{ parq.car.cliente }}</td>
                            <td>{{ parq.car.typeparq.name }}</td>
                            <td> {{ parq.user.name }} </td>
                            <td>{{ parq.fecha | date: 'short' }}</td>
                        </tr>

                    </tbody>

                </table>

            </div>

        </div>
    </div>
    <!-- TABLA DE VEHICULOS PARQUEADOS -->

</div>

<!-- =========================================================================
    NUEVA CATEGORIA 
========================================================================= -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Categorias</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="pt-4">
                    <div class="d-flex flex-wrap mb-3">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Crear Categoria
                        </button>
                    </div>
                    <div class="collapse border-0" id="collapseExample">
                        <div class="card card-body">
                            <h4 class="mb-2">Crea una categoria nueva en parqueadero</h4>
                            <form class="row g-3 d-flex align-items-end" [formGroup]="newCategoryForm" (ngSubmit)="createCategory()">
                                <div class="col-auto">
                                    <label for="categoria" class="">Categoria</label>
                                    <input formControlName="name" type="text" class="form-control" id="categoria" placeholder="Carro, Moto, Bicicleta, etc...">
                                    <small *ngIf="validateNewCategory('name')" class="text-danger"> Le nombre de la categoria es obligatorio </small>
                                </div>

                                <div class="col-auto">
                                    <label for="precio" class="">Tarifa</label>
                                    <input formControlName="price" type="number" class="form-control" id="precio" placeholder="Precio">
                                    <small *ngIf="validateNewCategory('price')" class="text-danger"> Le nombre de la categoria es obligatorio </small>
                                </div>

                                <div class="col-auto">
                                    <label for="plena" class="">Tarifa Plena</label>
                                    <input formControlName="plena" type="number" class="form-control" id="plena" placeholder="Tarifa Plena">
                                    <small *ngIf="validateNewCategory('price')" class="text-danger"> Este campo es obligatorio </small>
                                </div>

                                <div class="col-auto">
                                    <label for="tprecio" class="">Tiempo Plena</label>
                                    <input formControlName="tplena" type="number" class="form-control" id="tprecio" placeholder="Tiempo Plena">
                                    <small *ngIf="validateNewCategory('price')" class="text-danger"> Este campo es obligatorio </small>
                                </div>

                                <div class="col-auto">
                                    <label for="categoriass" class="">Tipo</label>
                                    <select formControlName="type" class="form-select" aria-label="Default select example">
                                        <option value="none">Seleccionar Tipo</option>
                                        <option value="Minutos"> Minutos</option>
                                        <option value="Horas"> Horas</option>
                                    </select>
                                </div>

                                <div class="col-auto">
                                    <label for="categoriass" class="">Impuestos</label>
                                    <select formControlName="tax" class="form-select" aria-label="Default select example">
                                        <option value="none">Seleccionar impuesto</option>
                                        <option *ngFor="let impuesto of impuestos" [value]="impuesto.taxid"> {{ impuesto.name }} </option>
                                    </select>
                                </div>

                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="d-flex justify-content-center flex-wrap gap-2">

                    <div class="w-75">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Categoria</th>
                                        <th scope="col">Tarifa</th>
                                        <th scope="col">Tarifa Plena</th>
                                        <th scope="col">IVA</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngIf="categories.length === 0">
                                        <td class="text-center" colspan="3"> No existen categorias de parqueadero guardadas...</td>
                                    </tr>

                                    <tr *ngFor="let category of categories">
                                        <th scope="row"> {{ category.name }} </th>
                                        <td> {{ category.price | currency: 'COP': symbol:'1.0-0' }} </td>
                                        <td> {{ category.plena | currency: 'COP': symbol:'1.0-0' }} </td>
                                        <td> {{ category.tax.valor }}% </td>
                                        <td>
                                            <button (click)="selectCategory(category)" type="button" class="btn btn-link p-1 text-primary">
                                                <i class="bi bi-pencil"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                    <div class="card">
                        <div class="card-body">

                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-link text-dark ms-auto">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </div>

                            <h5>Editar Categoria</h5>

                            <form [formGroup]="upCategoryForm" (ngSubmit)="updateCategory()">
                                <div class="formGroup">
                                    <label for="categoria" class="">Categoria</label>
                                    <input formControlName="name" type="text" class="form-control" id="categoria" placeholder="Carro, Moto, Bicicleta, etc...">
                                    <small *ngIf="validateNewCategory('name')" class="text-danger"> Le nombre de la categoria es obligatorio </small>
                                </div>

                                <div class="formGroup">
                                    <label for="precio" class="">Tarifa</label>
                                    <input formControlName="price" type="number" class="form-control" id="precio" placeholder="Precio">
                                    <small *ngIf="validateNewCategory('price')" class="text-danger"> Le nombre de la categoria es obligatorio </small>
                                </div>

                                <div class="formGroup">
                                    <label for="plena" class="">Tarifa Plena</label>
                                    <input formControlName="plena" type="number" class="form-control" id="plena" placeholder="Tarifa Plena">
                                    <small *ngIf="validateNewCategory('price')" class="text-danger"> Este campo es obligatorio </small>
                                </div>

                                <div class="formGroup">
                                    <label for="tprecio" class="">Tiempo Plena</label>
                                    <input formControlName="tplena" type="number" class="form-control" id="tprecio" placeholder="Tiempo Plena">
                                    <small *ngIf="validateNewCategory('price')" class="text-danger"> Este campo es obligatorio </small>
                                </div>

                                <div class="formGroup">
                                    <label for="categoriass" class="">Tipo</label>
                                    <select formControlName="type" class="form-select" aria-label="Default select example">
                                        <option value="none">Seleccionar Tipo</option>
                                        <option value="Minutos"> Minutos</option>
                                        <option value="Horas"> Horas</option>
                                    </select>
                                </div>

                                <div class="formGroup mb-3">
                                    <label for="categoriass" class="">Impuestos</label>
                                    <select formControlName="tax" class="form-select" aria-label="Default select example">
                                        <option value="none">Seleccionar impuesto</option>
                                        <option *ngFor="let impuesto of impuestos" [value]="impuesto.taxid"> {{ impuesto.name }} </option>
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-primary w-100">Actualizar</button>

                            </form>

                        </div>
                    </div>

                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- =========================================================================
    NUEVO VEHICULO 
========================================================================= -->
<div class="modal fade" id="VehiculosModal" tabindex="-1" aria-labelledby="VehiculosModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="VehiculosModalLabel">Vehiculos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #mVehiculo></button>
            </div>
            <div class="modal-body">

                <div class="pt-4">
                    <div class="d-flex flex-wrap mb-3">
                        <button #btnVC class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Crear Vehiculos
                        </button>
                    </div>
                    <div class="collapse border-0" id="collapseExample">
                        <div class="card card-body">
                            <h4 class="mb-2">Crea un nuevo vehiculo</h4>
                            <form class="row g-3 d-flex align-items-end" [formGroup]="newCarForm" (ngSubmit)="createCar()">
                                <div class="col-auto">
                                    <label for="categoria" class="">Placa</label>
                                    <input formControlName="placa" type="text" class="form-control" id="categoria" placeholder="Placa">
                                </div>
                                <div class="col-auto">
                                    <label for="cliente" class="">Cliente</label>
                                    <input formControlName="cliente" type="text" class="form-control" id="cliente" placeholder="Cliente">
                                </div>

                                <div class="col-auto">
                                    <label for="categoriass" class="">Categorias</label>
                                    <select formControlName="typeparq" class="form-select" aria-label="Default select example">
                                        <option selected value="none">Seleccionar categoria</option>
                                        <option *ngFor="let categ of categories" [value]="categ.tpid"> {{ categ.name }} </option>
                                    </select>
                                </div>

                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>

                            <small *ngIf="validateNewCar('placa')" class="text-danger"> La placa del vehiculo es obligatoria</small>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="d-flex justify-content-center flex-wrap gap-2">

                    <div class="w-75">

                        <div class="form-floating mb-2">
                            <span class="position-absolute top-50 start-90 translate-middle"><i class=" bi-search " style="font-size: 1rem "></i></span>
                            <input type="text" class="form-control" id="floatingInput2" placeholder="Buscar Categoria" (keyup)="searchCars(search.value)" #search>
                            <label for="floatingInput2 ">Buscar Vehiculo</label>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-sm table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Placa</th>
                                        <th scope="col">Cliente</th>
                                        <th scope="col">Categoria</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngIf="cars.length === 0">
                                        <td class="text-center" colspan="4"> No existen vehiculos registrados...</td>
                                    </tr>

                                    <tr *ngFor="let car of cars">
                                        <th scope="row"> {{ car.placa }} </th>
                                        <td> {{ car.cliente }} </td>
                                        <td> {{ car.typeparq.name }} </td>
                                        <td>
                                            <button (click)="selectCar(car)" type="button" class="btn btn-link p-1 text-primary">
                                                <i class="bi bi-pencil"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                    <div class="card">
                        <div class="card-body">

                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-link text-dark ms-auto">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </div>

                            <h5>Editar Vehiculo</h5>

                            <form [formGroup]="upCarForm" (ngSubmit)="updateCar()">
                                <div class="formGroup mb-3">
                                    <label for="categoria" class="visually-hidden">Placa</label>
                                    <input formControlName="placa" type="text" class="form-control" id="categoria" placeholder="Placa del vehiculo">
                                    <small *ngIf="validateUpCar('placa')" class="text-danger"> La placa del vehiculo es obligatoria </small>
                                </div>
                                <div class="formGroup mb-3">
                                    <label for="clienteU" class="visually-hidden">Cliente</label>
                                    <input formControlName="cliente" type="text" class="form-control" id="clienteU" placeholder="Cliente">
                                    <small *ngIf="validateUpCar('cliente')" class="text-danger"> El cliente es obligatorio </small>
                                </div>

                                <div class="formGroup mb-3">
                                    <select formControlName="typeparq" class="form-select" aria-label="Default select example">
                                        <option selected value="none">Seleccionar categoria</option>
                                        <option *ngFor="let categ of categories" [value]="categ.tpid"> {{ categ.name }} </option>
                                    </select>
                                </div>

                                <div class="formGroup mb-3">
                                    <button type="submit" class="btn btn-primary w-100">Actualizar</button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- =========================================================================
    MODAL REGISTRAR ENTRADAS Y SALIDAS
========================================================================= -->

<div class="modal fade" id="entradaSalidas" tabindex="-1" aria-labelledby="entradaSalidasModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="entradaSalidasModal"><i class="bi-arrow-left-right" style="font-size: 1rem"></i> Movimientos </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <!-- NAV - NAV -->
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-entradas-tab" data-bs-toggle="tab" href="#nav-entradas" role="tab" aria-controls="nav-entradas" aria-selected="true"><i class="bi-box-arrow-in-right"></i>  Entradas</a>
                        <a class="nav-link" id="nav-salidas-tab" data-bs-toggle="tab" href="#nav-salidas" role="tab" aria-controls="nav-salidas" aria-selected="false"><i class="bi-box-arrow-right"></i> Salidas</a>
                    </div>
                </nav>
                <!-- NAV - NAV -->

                <div class="tab-content" id="nav-tabContent">

                    <!-- ENTRADAS - ENTRADAS - ENTRADAS -->
                    <div class="tab-pane fade show active" id="nav-entradas" role="tabpanel" aria-labelledby="nav-entradas-tab">

                        <div class="py-4">

                            <div class="form-group">
                                <label for="">Entrada</label>
                                <input type="number" class="form-control" placeholder="Monto de entrada" #montoE>
                            </div>

                            <div class="form-group">
                                <label for="">Descripción</label>
                                <input type="text" class="form-control" placeholder="Descripción" #descriptionE>
                            </div>

                            <div class="col py-2">
                                <button type="button" (click)="entradaSalida('entrada', descriptionE.value, montoE.value)" class="btn btnW waves-effect waves-ligth px-3 btn-primary">Guardar</button>
                            </div>

                        </div>


                    </div>
                    <!-- ENTRADAS - ENTRADAS - ENTRADAS -->
                    <!-- SALIDAS - SALIDAS - SALIDAS -->
                    <div class="tab-pane fade" id="nav-salidas" role="tabpanel" aria-labelledby="nav-salidas-tab">

                        <div class="py-4">

                            <div class="form-group">
                                <label for="">Salida</label>
                                <input type="number" class="form-control" placeholder="Monto de salida" #montoS>
                            </div>

                            <div class="form-group">
                                <label for="">Descripción</label>
                                <input type="text" class="form-control" placeholder="Descripción" #descriptionS>
                            </div>

                            <div class="col py-2">
                                <button type="button" (click)="entradaSalida('salida', descriptionS.value, montoS.value)" class="btn btnW waves-effect waves-ligth px-3 btn-primary">Guardar</button>
                            </div>

                        </div>

                    </div>
                    <!-- SALIDAS - SALIDAS - SALIDAS -->
                </div>

            </div>
        </div>
    </div>
</div>

<!-- =========================================================================
PRODUCT SELECT
========================================================================= -->

<ng-template #modalCheckOut let-close="close">

    <div class="modal-header">
        <h5 class="modal-title">Salida</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <!-- SUBTOTALES -->
        <div class="">
            <p class="mb-1 text-center text-break"> Subtotal: {{ subtotal | currency:'COP' : 'symbol' : '1.0-0' }} </p>
            <p class="mb-1 text-center text-break">IVA: {{ iva | currency:'COP' : 'symbol' : '1.0-0' }} </p>
        </div>



        <!-- TOTALES -->
        <div class="pb-2">
            <p class="mb-0 text-center fw-bold">TOTAL</p>
            <h4 class="mb-3 display-5 text-center text-break fw-bold"> {{ total | currency:'COP' : 'symbol' : '1.0-0' }} </h4>
            <p class="mb-2 text-center" *ngIf="payments.length > 0" [ngClass]="{'text-success': restante === 0, 'text-danger': restante < total || restante > total}"> Restante {{ restante | currency:'COP' : 'symbol' : '1.0-0' }} </p>
            <div class="d-flex justify-content-center">
                <a class="text-decoration-none mx-auto" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Editar Monto
                </a>
            </div>
        </div>

        <!-- BUSCAR CLIENTE -->
        <hr>
        <div>
            <label for="">Buscar Cliente</label>
            <input type="text" class="form-control" placeholder="buscar cliente" (keyup)="buscarCliente(searchClient.value)" #searchClient>
        </div>
        <div *ngIf="listaClientes.length > 0" class="bg-white py-3 px-2 shadow" style="position: absolute; z-index: 1020;">

            <div *ngIf="cargandoCliente" class="text-center py-3">
                <div class="spinner-grow text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div>
                    <small class="text-muted">Cargando...</small>
                </div>
            </div>

            <ul *ngIf="!cargandoCliente" class="list-group list-group-flush overflow-auto" style="max-height: 200px; min-width: 250px;">

                <li class="list-group-item">
                    <h6>Resultados: ({{ listaClientes.length }})</h6>
                </li>

                <li class="list-group-item" *ngFor="let item of listaClientes">

                    <button (click)="seleccionarCliente(item)" type="button" style="background: none; border: 0;">
                        <div class="d-flex ">
                            <div class="align-self-center">
                                <span class="text-capitalize fw-bold"> {{ item.name }} </span><br>
                                <small> C.C: {{ item.cedula }} </small>
                            </div>

                            <div class="ms-auto">
                                <i class="text-success bi-arrow-90deg-right"></i>
                            </div>
                        </div>
                    </button>

                </li>
            </ul>

        </div>

        <!-- INFORMACION DEL CLIENTE -->
        <div *ngIf="clienteTemp" class="d-flex flex-column mt-2">

            <div>
                <h6 class="fw-bold mb-0">CLIENTE: <small> {{ clienteTemp.name }}</small> </h6>
            </div>
            <div>
                <h6 class="fw-bold mb-0">CC/Nit: <small *ngIf="clienteTemp.cedula"> {{ clienteTemp.cedula }} </small> </h6>
            </div>
        </div>

        <hr>
        <!-- BUSCAR CLIENTE -->

        <div class="collapse" id="collapseExample">
            <div class="card card-body">

                <div class="row g-3 d-flex justify-content-center align-items-end">
                    <div class="col-auto">
                        <label for="categoria" class="">Nuevo Monto</label>
                        <input type="text" class="form-control" id="categoria" placeholder="Monto" #nMonto>
                    </div>

                    <div class="col-auto">
                        <button type="button" (click)="newMonto(nMonto.value)" class="btn btn-primary">Actualizar</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- PAGOS -->
        <div>
            <h4 class="mb-3 text-center"> Agregar Pagos </h4>

            <!-- TIPO DE PAGO -->
            <div class="form-group">
                <label class="control-label">Metodo de pago</label>
                <select class="form-select" aria-label="Default select example" #typeAdd>
                    <option value="efectivo">Efectivo</option>   
                    <option *ngFor="let banco of bancos" [value]="banco.name"> {{banco.name}}</option>   
                </select>
            </div>

            <!-- MONTO -->
            <div class="form-group">
                <label class="control-label">Monto</label>
                <input id="montoP" type="number" min="0" class="form-control" placeholder="Agrega un monto" (keyup)="montoP.value" #montoP>
            </div>

            <button (click)="addPay(montoP.value, typeAdd.value)" type="button" class="btn btn-primary w-100">Agregar</button>

        </div>

        <!-- LISTA DE PAGOS -->
        <div *ngIf="payments.length > 0 " class="table-responsive" style="clear: both;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Metodo</th>
                        <th class="text-right">Monto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pay of payments; let i = index">
                        <td>
                            <button type="button" (click)="delPay(i)" class="btn btn-link p-1 text-danger text-right"><i class="bi-trash"></i></button>
                        </td>
                        <td> {{ pay.type }} </td>
                        <td class="text-right"> {{ pay.amount }} </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


    <div class="modal-footer">
        <button type="button" [disabled]="facturando == true || user.cerrada || restante < 0" class="btn btn-sm btn-outline-primary" (click)="crearFactura(false)">
            <span *ngIf="facturando">Facturando...</span>
            <span *ngIf="!facturando">Crear tirilla pos</span>
            
        </button>

        <button type="button" [disabled]="facturando == true || user.cerrada || restante < 0" (click)="crearFactura(true)" class="btn btn-sm btn-outline-success">
            <span *ngIf="facturando">Facturando...</span>
            <span *ngIf="!facturando">Crear Factura Electronica</span>
            
        </button>
    </div>

</ng-template>

<!-- =========================================================================
    MODAL CREAR CLIENTE 
========================================================================= -->
<div class="modal fade" id="buscarCliente" tabindex="-1" aria-labelledby="buscarClienteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="buscarClienteModal"><i class="bi-people" style="font-size: 1rem"></i>Crear Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mt-2">

                    <form autocomplete="off" [formGroup]="newClientForm" (ngSubmit)="crearCliente()">

                        <!-- =======================================================================
                            DATOS PERSONALES 
                        =========================================================================== -->

                        <div class="row mb-2">

                            <!-- Tipo de empresa ** -->
                            <div class="col-md-12 mb-3 px-md-1">
                                <label for="partyType" class="col-sm-auto col-form-label">Tipo de empresa</label>
                                <select formControlName="party_type" class="form-select" id="partyType" #partyType (change)="partyType.value" aria-label="Floating label select example">
                                    <option value="PERSONA_NATURAL">Persona Natural</option>
                                    <option value="PERSONA_JURIDICA" >Persona Juridica</option>
                                </select>
                            </div>

                            <!-- Nombre de la empresa -->
                            <div *ngIf="partyType.value === 'PERSONA_JURIDICA'" class="col-md-12 mb-3 px-md-1">
                                <label for="companyName">Nombre de la empresa </label>
                                <div class="form-floating">
                                    <input id="companyName" formControlName="company_name" type="text" class="form-control text-capitalize" placeholder="Nombre de la empresa">
                                    <label for="floatingInput">Nombre de la empresa </label>
                                </div>
                                <p *ngIf="campoValido('company_name')" class="mb-1 animated fadeIn text-danger"> <small>Este campo es obligatorio</small> </p>
                            </div>

                            <!-- Nombres de la persona natural -->
                            <div *ngIf="partyType.value === 'PERSONA_NATURAL'" class="col-md-12 mb-3 px-md-1">
                                <label for="firstName">Nombres de la persona natural </label>
                                <div class="form-floating">
                                    <input id="firstName" formControlName="first_name" type="text" class="form-control text-capitalize" placeholder="Nombres de la persona natural">
                                    <label for="floatingInput">Nombres de la persona natural </label>
                                </div>
                                <p *ngIf="campoValido('first_name')" class="mb-1 animated fadeIn text-danger"> <small>Este campo es obligatorio</small> </p>
                            </div>

                            <!-- Apellidos de la persona natural -->
                            <div *ngIf="partyType.value === 'PERSONA_NATURAL'" class="col-md-12 mb-3 px-md-1">
                                <label for="familyName">Apellidos de la persona natural </label>
                                <div class="form-floating">
                                    <input id="familyName" formControlName="family_name" type="text" class="form-control text-capitalize" placeholder="Apellidos de la persona natural">
                                    <label for="floatingInput">Apellidos de la persona natural </label>
                                </div>
                                <p *ngIf="campoValido('family_name')" class="mb-1 animated fadeIn text-danger"> <small>Este campo es obligatorio</small> </p>
                            </div>

                            <!-- TIPO DE DOCUMENTO -->
                            <div class="col-md-12 mb-3 px-md-1">
                                <label for="indentityType" class="col-sm-auto col-form-label">Tipo de documento</label>
                                <select formControlName="party_identification_type" class="form-select" id="indentityType" aria-label="Floating label select example">
                                    <option value="NIT">NIT</option>
                                    <option value="CC" selected>CC</option>
                                    <option value="PASAPORTE" >PASAPORTE</option>
                                    <option value="CE" >CE</option>
                                    <option value="TE" >TE</option>
                                    <option value="PEP" >PEP</option>
                                    <option value="TI" >TI</option>
                                    <option value="RC" >RC</option>
                                    <option value="IE" >IE</option>
                                    <option value="NIT_OTRO_PAIS" >Nit de otro pais</option>
                                </select>
                            </div>

                            <!-- CEDULA O NIT -->
                            <div class="col-md-12 mb-3 px-md-1">
                                <label for="cedula">CC / NIT </label>
                                <div class="form-floating">
                                    <input id="cedula" formControlName="cedula" type="text" class="form-control" placeholder="cedula">
                                    <label for="floatingInput">CC / NIT </label>
                                    <p *ngIf="campoValido('cedula')" class="mb-1 animated fadeIn text-danger"> <small>Este campo es obligatorio</small> </p>
                                </div>
                            </div>

                            <!-- EMAIL ** -->
                            <div class="col-md-12 mb-3 px-md-1">
                                <label for="email">Correo electronico </label>
                                <div class="form-floating">
                                    <input id="email" formControlName="email" type="text" class="form-control" placeholder="Correo electronico">
                                    <label for="floatingInput">Correo electronico </label>
                                    <p *ngIf="campoValido('email')" class="mb-1 animated fadeIn text-danger"> <small>Este campo es obligatorio</small> </p>
                                </div>
                            </div>

                            <!-- DEPARTAMENTO ** -->
                            <div class="col-md-12 mb-3 px-md-1">
                                <label for="departamentoS" class="col-sm-auto col-form-label">Departamento</label>
                                <select formControlName="department" class="form-select" id="departamentoS" #departmentSS (change)="searchCities(departmentSS.value)">
                                    <option >Seleccionar Departamento</option>
                                    <option *ngFor="let department of departments" [value]="department.departamento" >{{department.departamento}}</option>
                                </select>
                            </div>

                            <!-- CIUDAD ** -->
                            <div class="col-md-12 mb-3 px-md-1">
                                <label for="ciudadS" class="col-sm-auto col-form-label">Departamento</label>
                                <select formControlName="city" class="form-select" id="ciudadS" aria-label="Floating label select example">
                                    <option value="" selected>Seleccionar Ciudad</option>
                                    <option *ngFor="let city of ListCities" [value]="city.ciudad" >{{city.ciudad}}</option>
                                </select>
                            </div>

                            <!-- DIRECCION ** -->
                            <div class="col-md-12 mb-3 px-md-1">
                                <label for="direccion">Dirección </label>
                                <div class="form-floating">
                                    <input id="direccion" formControlName="address" type="text" class="form-control text-capitalize" placeholder="Dirección">
                                    <label for="floatingInput">Dirección </label>
                                    <p *ngIf="campoValido('address')" class="mb-1 animated fadeIn text-danger"> <small>Este campo es obligatorio</small> </p>
                                </div>

                            </div>

                            <!-- TELEFONO -->
                            <div class="col-md-12 mb-3 px-md-1">
                                <label for="telefono">Telefono </label>
                                <div class="form-floating">
                                    <input id="telefono" formControlName="phone" type="text" class="form-control" placeholder="Telefono">
                                    <label for="floatingInput">Telefono </label>
                                    <p *ngIf="campoValido('phone')" class="mb-1 animated fadeIn text-danger"> <small>Este campo es obligatorio</small> </p>
                                </div>
                            </div>

                            <!-- REGIMEN -->
                            <div class="col-md-12 mb-3 px-md-1">
                                <label for="regimen" class="col-sm-auto col-form-label">Regimen</label>
                                <select formControlName="regimen" class="form-select" id="regimen" aria-label="Floating label select example">
                                    <option value="SIMPLE">SIMPLE</option>
                                    <option value="AUTORRETENEDOR" >AUTORRETENEDOR</option>
                                    <option value="AGENTE_RETENCION_IVA" >AGENTE RETENCION IVA</option>
                                    <option value="ORDINARIO" >ORDINARIO</option>
                                    <option value="GRAN_CONTRIBUYENTE" >GRAN CONTRIBUYENTE</option>
                                </select>
                            </div>

                            <!-- TIPO DE IMPUESTO ** -->
                            <div class="col-md-12 mb-3 px-md-1">
                                <label for="taxLevel" class="col-sm-auto col-form-label">Tipo de impuesto</label>
                                <select formControlName="tax_level_code" class="form-select" id="taxLevel" aria-label="Floating label select example">
                                    <option value="SIMPLIFICADO">SIMPLIFICADO</option>
                                    <option value="RESPONSABLE_DE_IVA" >RESPONSABLE DE IVA</option>
                                    <option value="NO_RESPONSABLE_DE_IVA" selected>NO RESPONSABLE DE IVA</option>
                                    <option value="COMUN" >COMUN</option>
                                </select>
                            </div>

                            <div class="col-md-12 mb-3 px-md-1 ml-2 ms-2">
                                <div class="form-check mt-2">
                                    <input formControlName="sendemail" class="form-check-input" type="checkbox" value="" id="sendemail">
                                    <label class="form-check-label" for="sendemail">
                                        Enviar Factura al Correo
                                    </label>
                                </div>
                            </div>

                        </div>

                        <button type="submit" class="btn btnW waves-effect waves-ligth px-3 btn-primary">Guardar</button>

                    </form>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>