<!-- =========================================================================
    HEADER 
========================================================================= -->
<header>
    <div class="bg-header-blue py-2 px-3 mb-2">
        <h5 class="text-white m-0">Configuraciones / Tickets - Mesas - Barras</h5>
    </div>
    <ul class="nav nav-tabs px-3" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark active" id="ticket1-tab" data-bs-toggle="tab" href="#ticket1" role="tab" aria-controls="ticket1" aria-selected="true"><i class="bi-gear" style="font-size: 1rem"></i> Tablero Principal</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark" id="pisos-tab"  data-bs-toggle="tab" href="#pisos" role="tab" aria-controls="pisos" aria-selected="true"><i class="bi-grid" style="font-size: 1rem"></i> Pisos</a>
        </li>

    </ul>
</header>
<!-- =========================================================================
    HEADER 
========================================================================= -->

<div class="container-fluid my-4">

    <div class="tab-content mt-4 bg-light2" id="myTabContent">

        <!-- TABLE CLIENTS -->
        <div class="tab-pane fade show active" id="ticket1" role="tabpanel" aria-labelledby="ticket1-tab">
            <div class="shadow-lg p-3 rounded bg-white">

                <!-- CARGANDO -->
                <div *ngIf="cargando">
                    <div class="text-center p-4">
                        <div class="spinner-grow text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <small class="text-muted">cargando...</small>
                </div>
                <!-- CARGANDO -->

                <div *ngIf="!cargando">
                    <div>
                        <div class="form-floating mb-2">
                            <span class="position-absolute top-50 start-90 translate-middle"><i class=" bi-search " style="font-size: 1rem "></i></span>
                            <input type="text" class="form-control" id="floatingInput2" placeholder="Buscar" (keyup)="buscar(search.value)" #search>
                            <label for="floatingInput2 ">Buscar</label>
                        </div>
                    </div>

                    <!-- BTN CREAR MESA -->
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-sm btn-primary btnW waves-effect waves-ligth" data-bs-toggle="modal" data-bs-target="#nuevaMesa">Crear</button>
                    </div>
                    <!-- BTN CREAR MESA -->

                    <div class="table-responsive ">
                        <table class="table table-borderless table-striped table-hover table-sm animated fadeIn ">
                            <thead class="border-bottom ">
                                <tr>
                                    <th class="text-muted " scope="col " colspan="2">Mesa</th>
                                    <th class="text-muted " scope="col ">Disponibilidad</th>
                                    <th class="text-muted " scope="col ">Activa</th>
                                    <th class="text-muted w100 " scope="col ">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="!sinResultados" class="text-center ">
                                    <th colspan="10" class="py-4">
                                        <h4 class="text-muted">Sin Resultados</h4>
                                    </th>
                                </tr>

                                <tr class="trHover" *ngFor="let mesa of listaMesas; let i = index">
                                    <td colspan="2">{{ mesa.name }}</td>
                                    <td>
                                        <span *ngIf="mesa.disponible" class="badge rounded-pill bg-success text-white-75">Disponible</span>
                                        <span *ngIf="!mesa.disponible" class="badge rounded-pill bg-danger text-white-75">Ocupada</span>
                                    </td>
                                    <td>
                                        <button *ngIf="mesa.status" (click)="statusUpdate(mesa.mid)" type="button" class="btn btnW waves-effect waves-ligth btn-success btn-sm">Activa</button>
                                        <button *ngIf="!mesa.status" (click)="statusUpdate(mesa.mid)" type="button" class="btn btnW waves-effect waves-ligth btn-danger btn-sm">Desactivada</button>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" (click)="informacionMesa(mesa)" class="btn btn-link p-1 text-primary" data-bs-toggle="modal" data-bs-target="#actualizarMesa">
                                            <i class="bi bi-box-arrow-up-right"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                    </div>

                    <!-- BTN SIGUIENTE Y ANTERIOR -->
                    <div class="row">
                        <div class="col col-md-4">
                            <small class="text-muted">Total de cajas: ({{totalMesas}})</small>
                            <small *ngIf="resultado !== 0" class="text-muted"> - (Resultados: {{ resultado }})</small>
                            <small *ngIf="desde !== 0" class="text-muted"> - (Desde el: {{ desde + 1}} Hasta el: {{ desde + listaMesas.length }})</small>
                        </div>

                        <!-- <div *ngIf="search.value.length === 0" class="col d-flex justify-content-end">
                            <button type="button" (click)="cambiarPagina(-10)" class="{{btnAtras}} btn btn-sm btn-dark btnW waves-effect waves-light px-3">Anterior</button>
                            <button type="button" (click)="cambiarPagina(10)" class="{{btnAdelante}} btn btn-sm btn-dark btnW waves-effect waves-light px-3 ms-2">Siguiente</button>
                        </div> -->
                    </div>
                    <!-- BTN SIGUIENTE Y ANTERIOR -->

                </div>
            </div>
        </div>
        <!-- TABLE CLIENTS -->

        <!-- TAB PISOS -->
        <div class="tab-pane fade" id="pisos" role="tabpanel" aria-labelledby="pisos-tab">
            <app-pisos></app-pisos>
        </div>
        <!-- TAB PISOS -->
    </div>

</div>

<!-- =========================================================================
    NUEVA MESA 
========================================================================= -->
<div class="modal fade" id="nuevaMesa" tabindex="-1" aria-labelledby="nuevaMesaModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nuevaMesaModal"><i class="bi-collection" style="font-size: 1rem"></i> Crear Ticket - Mesa - Barra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <form id="newMesaForm" autocomplete="off" [formGroup]="newMesaForm" (ngSubmit)="crearMesa()">

                    <!-- =======================================================================
                        Informacion del Caja
                    =========================================================================== -->
                    <h5 class="text-muted">Informaciòn</h5>

                    <div class="row mb-2">

                        <div class="col-md-12 px-md-1">
                            <label for="">Tipo</label>
                            <select class="form-select" aria-label="Default select example" formControlName="img">
                                <option value="ticket.svg"> Ticket</option>
                                <option value="mesa.svg"> Mesa</option>
                                <option value="barra.svg"> Barra</option>
                            </select>

                        </div>
                    </div>

                    <div class="row mb-2">

                        <div class="col-md-12 px-md-1">
                            <label for="">Nombre</label>
                            <div class="form-floating">
                                <input formControlName="name" min="0" type="text" class="form-control text-capitalize" placeholder="Numero de mesa">
                                <label for="floatingInput">Nombre</label>
                            </div>

                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col-md-12 px-md-1">

                            <div class="form-group">
                                <label for="">Usuario</label>
                                <select formControlName="mesero" class="form-control" name="" *ngIf="meseros">
                                    <option selected value="0">Seleccionar</option>
                                    <option *ngFor="let mesero of meseros" [value]="mesero.uid">
                                        {{ mesero.name }}
                                    </option>
                              </select>
                            </div>

                        </div>

                    </div>

                    <div class="row mb-3" *ngIf="pisos.length > 0">

                        <div class="col-md-12 px-md-1">

                            <div class="form-group">
                                <label for="">Piso</label>
                                <select formControlName="piso" class="form-control" name="">
                                    <option selected value="null">Seleccionar</option>
                                    <option *ngFor="let piso of pisos" [value]="piso.piid">
                                        {{ piso.name }}
                                    </option>
                              </select>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="text-danger mb-2">
                            <p *ngIf="campoValido('name')" class="mb-1 animated fadeIn">- El numero de mesa es obligatorio</p>
                            <p *ngIf="campoValido('mesero')" class="mb-1 animated fadeIn">- Debes seleccionar un usuario</p>
                        </div>
                    </div>


                    <button type="submit" class="btn btnW waves-effect waves-ligth px-3 btn-primary">Guardar</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- =========================================================================
    NUEVA MESA 
========================================================================= -->

<!-- =========================================================================
    ACTUALIZAR MESA 
========================================================================= -->
<div class="modal fade" id="actualizarMesa" tabindex="-1" aria-labelledby="actualizarMesaModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="actualizarMesaModal"><i class="bi-collection" style="font-size: 1rem"></i> Editar Ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <form id="upMesaForm" autocomplete="off" [formGroup]="upMesaForm" (ngSubmit)="actualizarMesa()">

                    <!-- =======================================================================
                        Informacion de la Mesa
                    =========================================================================== -->
                    <h5 class="text-muted">Información del Ticket</h5>

                    <div class="row mb-2">

                        <div class="col-md-12 px-md-1">
                            <label for="">Tipo</label>
                            <select class="form-select" aria-label="Default select example" formControlName="img">
                                <option value="ticket.svg"> Ticket</option>
                                <option value="mesa.svg"> Mesa</option>
                                <option value="barra.svg"> Barra</option>
                            </select>

                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-12 px-md-1">

                            <div class="form-floating">
                                <input formControlName="name" min="0" type="text" class="form-control text-capitalize" placeholder="Numero de mesa">
                                <label for="floatingInput">Numero de mesa</label>
                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12 px-md-1">

                            <div class="form-group">
                                <label for="">Seleccionar Mesero</label>
                                <select formControlName="mesero" class="form-control" name="" id="">
                                <option *ngFor="let mesero of meseros" [value]="mesero.uid">
                                    {{ mesero.name }}
                                </option>
                              </select>
                            </div>

                        </div>

                    </div>

                    <div class="row mb-2" *ngIf="pisos.length > 0">

                        <div class="col-md-12 px-md-1">

                            <div class="form-group">
                                <label for="">Piso</label>
                                <select formControlName="piso" class="form-control" name="">
                                    <option selected value="null">Seleccionar</option>
                                    <option *ngFor="let piso of pisos" [value]="piso.piid">
                                        {{ piso.name }}
                                    </option>
                              </select>
                            </div>

                        </div>

                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12 px-md-1">
                            <div class="form-group">
                                <label for="ruta">Ruta</label>
                                <input type="text" name="ruta" class="form-control" id="ruta" readonly formControlName="ruta">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="text-danger mb-2">
                            <p *ngIf="campoValidoUpdate('name')" class="mb-1 animated fadeIn">- Asigne un nombre a la mesa</p>
                        </div>
                    </div>

                    <button type="submit" class="btn btnW waves-effect waves-ligth px-3 btn-primary">Guardar</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- =========================================================================
    ACTUALIZAR MESA 
========================================================================= -->