<!-- =========================================================================
    HEADER 
========================================================================= -->
<header>
    <div class="bg-header-blue py-2 px-3 mb-2">
        <h5 class="text-white m-0">Configuraciones</h5>
    </div>
    <ul class="nav nav-tabs px-3" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark active" id="ticket1-tab"><i class="bi-gear" style="font-size: 1rem"></i> Tablero Principal</a>
        </li>

    </ul>
</header>
<!-- =========================================================================
    HEADER 
========================================================================= -->

<!-- =========================================================================
    BODY 
========================================================================= -->
<div class="container-fluid my-2">

    <!-- CONFIGURACIONES GENERALES -->
    <div class="p-2 border-bottom border-top mt-2">
        <h4 class="mb-2 text-muted">General</h4>
        <div class="d-flex flex-wrap">

            <div class="p-2">
                <button routerLink="./usuarios" type="button" class="btn bg-white btnW waves-effect waves-blue text-muted"> 
                    <i class="bi-people" style="font-size: 1.5rem;"></i> 
                    <h5>Usuarios</h5>
                </button>
            </div>

            <div class="p-2">
                <button routerLink="./mesas" type="button" class="btn bg-white btnW waves-effect waves-blue text-muted"> 
                    <i class="bi-grid" style="font-size: 1.5rem;"></i> 
                    <h5>Tickets</h5>
                </button>
            </div>

            <div class="p-2">
                <button routerLink="./empresa" type="button" class="btn bg-white btnW waves-effect waves-blue text-muted"> 
                    <i class="bi-building" style="font-size: 1.5rem;"></i> 
                    <h5>Mi Empresa</h5>
                </button>
            </div>
            <div class="p-2">
                <button routerLink="./impuestos" type="button" class="btn bg-white btnW waves-effect waves-blue text-muted"> 
                    <i class="bi-percent" style="font-size: 1.5rem;"></i> 
                    <h5>Impuestos</h5>
                </button>
            </div>

        </div>
    </div>
    <!-- CONFIGURACIONES GENERALES -->

    <!-- REPORTES -->
    <div class="p-2 border-bottom border-bottom">
        <h4 class="mb-2 text-muted">Reportes</h4>
        <div class="d-flex flex-wrap">

            <div class="p-2">
                <button routerLink="./cierres" type="button" class="btn bg-white btnW waves-effect waves-blue text-muted"> 
                    <i class="bi-calendar-check" style="font-size: 1.5rem;"></i> 
                    <h5>Cierres</h5>
                </button>
            </div>

        </div>
    </div>
    <!-- REPORTES -->

    <!-- REPORTES -->
    <div class="p-2 border-bottom border-bottom">
        <h4 class="mb-2 text-muted">Sistema</h4>
        <div class="d-flex flex-wrap">

            <div class="p-2">
                <button routerLinkActive="activeBtn" [routerLink]="['/dashboard/clientes']" type="button" class="btn bg-white btnW waves-effect waves-blue text-muted"> 
                    <i class="bi-people" style="font-size: 1.5rem;"></i> 
                    <h5>Clientes</h5>
                </button>
            </div>

            <div class="p-2">
                <button routerLinkActive="activeBtn" [routerLink]="['/dashboard/facturas']" type="button" class="btn bg-white btnW waves-effect waves-blue text-muted"> 
                    <i class="bi-file-text" style="font-size: 1.5rem;"></i> 
                    <h5>Facturas</h5>
                </button>
            </div>

            <div class="p-2">
                <button routerLinkActive="activeBtn" [routerLink]="['/dashboard/pedidos']" type="button" class="btn bg-white btnW waves-effect waves-blue text-muted"> 
                    <i class="bi-truck" style="font-size: 1.5rem;"></i> 
                    <h5>Pedidos</h5>
                </button>
            </div>
            <div class="p-2">
                <button routerLinkActive="activeBtn" [routerLink]="['/dashboard/proveedores']" type="button" class="btn bg-white btnW waves-effect waves-blue text-muted"> 
                    <i class="bi-building" style="font-size: 1.5rem;"></i> 
                    <h5>Proveedores</h5>
                </button>
            </div>

            <div class="p-2">
                <button routerLinkActive="activeBtn" [routerLink]="['/dashboard/entradas-salidas']" type="button" class="btn bg-white btnW waves-effect waves-blue text-muted"> 
                    <i class="bi-arrow-left-right" style="font-size: 1.5rem;"></i> 
                    <h5>Entradas y Salidas</h5>
                </button>
            </div>

        </div>
    </div>
    <!-- REPORTES -->




</div>
<!-- =========================================================================
    BODY 
========================================================================= -->