<!-- =========================================================================
    HEADER 
========================================================================= -->
<header>
    <div class="bg-header-yellow py-2 px-3 mb-2">
        <h5 class="text-white m-0">PRODUCTOS</h5>
    </div>
    <ul class="nav nav-tabs px-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark" id="administracion-tab" [routerLink]="['/dashboard', 'productos']">
                <i class="bi-files" style="font-size: 1rem"></i> Administracion de Productos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" id="nuevo-tab" [routerLink]="['/dashboard/productos', 'nuevo']"><i class="bi-pencil-square" style="font-size: 1rem"></i> Crear Producto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark " id="departamentos-tab" [routerLink]="['/dashboard/productos', 'departamento']"><i class="bi-collection" style="font-size: 1rem"></i> Departamentos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="departamentos-tab" [routerLink]="['/dashboard/productos', 'categorias']" aria-selected="false"><i class="bi-collection" style="font-size: 1rem"></i> Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="departamentos-tab" [routerLink]="['/dashboard/productos', 'movimientos']" aria-selected="false"><i class="bi-collection" style="font-size: 1rem"></i> Movimientos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark active" id="departamentos-tab" [routerLink]="['/dashboard/productos', 'kardex']" aria-selected="false"><i class="bi-collection" style="font-size: 1rem"></i> kardex</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="eliminados-tab" [routerLink]="['/dashboard/productos', 'eliminados']" aria-selected="false"><i class="bi-trash" style="font-size: 1rem"></i> Eliminados</a>
        </li>
    </ul>
</header>
<!-- =========================================================================
    HEADER 
========================================================================= -->
<!-- =========================================================================
    BODY 
========================================================================= -->
<div class="container-fluid">

    <div class="row py-4">

        <diV class="col-md-4">

            <div class="shadow-lg py-3 mb-5 rounded bg-white sticky-md-top">

                <div class="container">

                    <h4 class="mb-0"> Filtros </h4>

                    <hr>

                    <label for="">Kardex</label>

                    <select class="form-select" aria-label="Departamentos" (change)="buscar(selectDepart.value)" #selectDepart>
                        <option value="Ninguno" selected>Seleccionar Departamento</option>
                        <option value="Todos" > Todos </option>
                        <option [value]="departamento.did" *ngFor="let departamento of departamentos" > {{ departamento.name }} </option>
                    </select>

                    <hr>

                    <button (click)="printDiv()" [disabled]="productos.length === 0" type="button" class="btn btn-primary btn-lg btn-block">
                        <i class="bi bi-print"></i>
                        Imprimir
                    </button>

                </div>

            </div>

        </diV>

        <!-- KARDEX -->
        <div class="col-md-8">

            <div class="shadow-lg py-3 mb-5 rounded bg-white">

                <div id="printDiv">

                    <h4 class="ms-2 mb-0">Listado de productos</h4>

                    <div *ngIf="productos.length === 0 && !cargando" class="text-center">
                        <hr>
                        <h3 class="text-muted"> Aun no se a cargado ningun producto </h3>
                        <hr>
                    </div>

                    <!-- CARGANDO -->
                    <div *ngIf="cargando">
                        <div class="text-center p-4">
                            <div class="spinner-grow text-secondary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <small class="text-muted">cargando...</small>
                    </div>
                    <!-- CARGANDO -->

                    <h5 class="ms-2" *ngIf="productos.length > 0">Total: {{ productos.length }} </h5>

                    <ul *ngIf="productos.length > 0" class="list-group list-group-flush pt-3">

                        <li class="list-group-item d-flex align-items-start" style=" border-bottom: 2px solid #000; padding-bottom: 4px; margin-bottom: 4px;">
                            <span class="fw-bold "> INV. - </span>
                            <span class="fw-bold ">PRODUCTO</span>
                        </li>

                        <ng-container *ngFor=" let producto of productos ">

                            <li class="list-group-item d-flex align-items-start py-0 " style=" border-bottom: 1px solid #000;">
                                <span class="fw-bold "> {{ producto.inventario }} </span> <span class="text-break"> - {{ producto.name }}</span>
                            </li>

                        </ng-container>

                    </ul>
                </div>
            </div>
        </div>

    </div>


</div>

<!-- =========================================================================
    BODY 
========================================================================= -->