<!-- =========================================================================
    HEADER 
========================================================================= -->
<header>
    <div class="bg-header-blue py-2 px-3 mb-2">
        <h5 class="text-white m-0">Comandas</h5>
    </div>
    <ul class="nav nav-tabs px-3" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark active" id="comandas-tab" data-bs-toggle="tab" href="#comandas" role="tab" aria-controls="comandas" aria-selected="true"><i class="bi-app" style="font-size: 1rem"></i> Comandas</a>
        </li>
    </ul>
</header>
<!-- =========================================================================
    HEADER 
========================================================================= -->

<!-- =========================================================================
    BODY 
========================================================================= -->
<div class="container-fluid mt-4 bg-light2">

    <!-- TITLE - SUBTITLE -->
    <div>
        <h5 class="text-dark">Comandas</h5>
    </div>
    <!-- TITLE - SUBTITLE -->

    <!-- COMANDAS -->
    <div class="d-flex flex-wrap">

        <div *ngFor="let mesa of listaMesas; let i = index">
            <div class="p-2" *ngIf="mesa.img === 'mesa.svg'">


                <div style="width: 22rem;" class=" text-wrap bg-white p-3 position-relative">
                    <h2 class="mb-2 text-center">Orden # {{ mesa.fecha | date: 'H-ms' }}</h2>
                    <i [ngClass]="{'text-danger': mesa.disponible == false, 'text-success': mesa.disponible == true}" class="bi-dot position-absolute top-0 start-100 translate-middle pe-4 pt-2" style="font-size: 2.5rem;"></i>
                    <h5 class="mb-0 text-center text-wrap text-capitalize">{{ mesa.name }}</h5>
                    <h6 class="mb-0 text-center text-wrap text-capitalize fw-normal"> {{ mesa.mesero.name }} </h6>
                    <p class="mb-0 text-center"> Fecha: {{ mesa.fecha | date: "medium" }} </p>
                    <h5 class="mb-0 text-center text-wrap text-capitalize" *ngIf="mesa.cliente?.name">{{ mesa.cliente?.name }}</h5>

                    <div class="d-flex justify-content-end my-2">
                        <button type="button" (click)="comandaModal(mesa)" data-bs-toggle="modal" data-bs-target="#comanda" class="btn btn-sm btn-primary btnW waves-effect waves-ligth">
                            Ver comanda
                        </button>
                    </div>

                    <div class="table-responsive">

                        <table class="table table-sm align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">Item</th>
                                    <th scope="col">Estado</th>
                                </tr>
                            </thead>
                            <tbody>

                                <ng-container *ngFor="let item of mesa.comanda; let i = index">

                                    <tr [ngClass]=" { 'table-danger': item.estado === 'Pendiente', 'table-warning': item.estado === 'Preparando', 'table-success': item.estado === 'Entregado'}">
                                        <td>
                                            <p class="mb-0 lh-1"> <small class="lh-1 fw-bold">01 - {{item.product.name}}  </small></p>

                                            <ng-container *ngFor="let ingrediente of item.ingredientes">
                                                <small *ngIf="!ingrediente.status" class="text-danger me-1"> X {{ ingrediente.name }} </small>
                                            </ng-container>


                                        </td>
                                        <td>
                                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" (change)="cambiarEstado(mesa.comanda, item.product, esta.value, mesa)" #esta>
                                                <option class="text-danger" value="pendiente" [selected]="item.estado === 'pendiente'">Pendiente</option>
                                                <option class="text-warning" value="Preparando" [selected]="item.estado === 'Preparando'">Preparando</option>
                                                <option class="text-success" value="Entregado" [selected]="item.estado === 'Entregado'">Entregado</option>
                                            </select>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>

                        <!-- NOTAS -->
                        <div *ngIf="mesa?.nota.length > 0" class="container border rounded overflow-auto" #content style="max-height: 15rem; min-height: 5rem; overflow-x: hidden!important;">
                            <ul class="list-group list-group-flush py-2" #messages>
                                <li class="list-group-item border-0 py-1 px-1" *ngFor="let nota of mesa.nota">
                                    <div class="d-flex justify-content-start">
                                        <!-- <div>
                                            <button type="button" disabled class="btn btn-link p-1 text-danger">
                                                <i class="bi-trash" style="font-size: 0.9rem"></i>
                                            </button>
                                        </div> -->
                                        <div class="badge bg-light2 text-muted px-2 py-2 text-wrap text-start" style="width: auto;">
                                            <h6 class="mb-0 text-break">
                                                {{ nota.nota }}
                                            </h6>
                                            <p class="mb-0 text-end" *ngIf="nota.date "><small class="text-muted"> {{ nota?.date  | date: "medium" }} </small></p>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <!-- NOTAS -->

                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<!-- =========================================================================
    VER DETALLES DE LA COMANDA
========================================================================= -->
<div class="modal fade" id="comanda" tabindex="-1" aria-labelledby="comandaModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">

                <div>
                    <h5 class="modal-title text-capitalize" id="comandaModal">
                        <i class="bi-app" style="font-size: 2rem"></i> Detalles de la comanda
                    </h5>
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <!-- COCINA -->
                <div *ngIf="cocina.length > 0">

                    <hr>
                    <h4>Cocina</h4>

                    <div class="d-flex justify-content-end my-2">
                        <button type="button" (click)="printDiv('printDiv1', cocina)" class="btn btn-sm btn-success btnW waves-effect waves-ligth">
                        Imprimir
                    </button>
                    </div>

                    <!-- DETALLES DE LA COMANDA -->
                    <div id="printDiv1">

                        <div class="" *ngIf="comanda.img === 'mesa.svg'" style="color: black;">
                            <div style="width: 22rem;" class=" text-wrap">

                                <h2 class="mb-2 text-center">Orden # {{ comanda?.fecha | date: 'H-ms' }}</h2>
                                <h5 class=" mb-0 text-center text-wrap text-capitalize">{{ comanda?.name }}</h5>
                                <h6 class=" mb-0 text-center text-wrap text-capitalize fw-normal"> {{ comanda?.mesero.name }} </h6>
                                <p class=" mb-0 text-center"> Fecha: {{ comanda?.fecha | date: "medium" }} </p>
                                <h5 class=" mb-0 text-center text-wrap text-capitalize">{{ comanda.cliente?.name }}</h5>

                                <div class="table-responsive">

                                    <table class="table table-sm align-middle mb-1">
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    <h6 class="mb-0">Item</h6>
                                                </th>
                                                <th scope="col">
                                                    <h6 class="mb-0">Estado</h6>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <ng-container *ngFor="let item of cocina; let i = index">

                                                <tr style="color: black;" *ngIf="item.estado === 'pendiente'">
                                                    <td>
                                                        <h6 class="mb-0 lh-1 text-capitalize fs-5" style="color: #000;"> <span class="lh-1">01 - {{item.product.name}}  </span></h6>

                                                        <!-- <span *ngFor="let ingrediente of item.ingredientes" class="badge rounded-pill bg-light text-primary fw-normal"> {{ ingrediente.name }} </span> -->
                                                        <ng-container *ngFor="let ingrediente of item.ingredientes">
                                                            <small *ngIf="!ingrediente.status" class="me-1"> X {{ ingrediente.name }} </small>
                                                        </ng-container>

                                                    </td>
                                                    <td>
                                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" #estadoitem>
                                                            <option class="text-danger" value="Pendiente" [selected]="item.estado === 'Pendiente'">Pendiente</option>
                                                            <option class="text-warning" value="Preparando" [selected]="item.estado === 'Preparando'">Preparando</option>
                                                            <option class="text-success" value="Entregado" [selected]="item.estado === 'Entregado'">Entregado</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>

                                    <!-- NOTAS -->
                                    <div class="col-10">
                                        <p class="fw-bold mb-1">NOTAS:</p>
                                        <p class="mb-0 text-break" *ngFor="let nota of comanda?.nota">
                                            - {{ nota.nota }}
                                        </p>
                                    </div>
                                    <!-- NOTAS -->

                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- DETALLES DE LA COMANDA -->

                </div>
                <!-- COCINA -->



                <!-- BEBIDAS -->
                <div *ngIf="bebidas.length > 0">

                    <hr>
                    <h4>Bebidas</h4>

                    <div class="d-flex justify-content-end my-2">
                        <button type="button" (click)="printDiv('printDiv2', bebidas)" class="btn btn-sm btn-success btnW waves-effect waves-ligth">
                        Imprimir
                    </button>
                    </div>

                    <!-- DETALLES DE LA COMANDA -->
                    <div id="printDiv2">

                        <div class="" *ngIf="comanda.img === 'mesa.svg'" style="color: black;">
                            <div style="width: 22rem;" class=" text-wrap">

                                <h2 class="mb-2 text-center">Orden # {{ comanda?.fecha | date: 'H-ms' }}</h2>
                                <h5 class=" mb-0 text-center text-wrap text-capitalize">{{ comanda?.name }}</h5>
                                <h6 class=" mb-0 text-center text-wrap text-capitalize fw-normal"> {{ comanda?.mesero.name }} </h6>
                                <p class=" mb-0 text-center"> Fecha: {{ comanda?.fecha | date: "medium" }} </p>
                                <h5 class=" mb-0 text-center text-wrap text-capitalize">{{ comanda.cliente?.name }}</h5>

                                <div class="table-responsive">

                                    <table class="table table-sm align-middle">
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    <h6 class="mb-0">Item</h6>
                                                </th>
                                                <th scope="col">
                                                    <h6 class="mb-0">Estado</h6>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <ng-container *ngFor="let item of bebidas; let i = index">

                                                <tr style="color: black;" *ngIf="item.estado === 'pendiente'">
                                                    <td>
                                                        <h6 class="mb-0 lh-1 text-capitalize"> <span class="lh-1">01 - {{item.product.name}}  </span></h6>

                                                        <!-- <span *ngFor="let ingrediente of item.ingredientes" class="badge rounded-pill bg-light text-primary fw-normal"> {{ ingrediente.name }} </span> -->
                                                        <ng-container *ngFor="let ingrediente of item.ingredientes">
                                                            <small *ngIf="!ingrediente.status" class="me-1 line-through"> {{ ingrediente.name }} </small>
                                                        </ng-container>

                                                    </td>
                                                    <td>
                                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" #estadoitem>
                                                    <option class="text-danger" value="Pendiente" [selected]="item.estado === 'Pendiente'">Pendiente</option>
                                                    <option class="text-warning" value="Preparando" [selected]="item.estado === 'Preparando'">Preparando</option>
                                                    <option class="text-success" value="Entregado" [selected]="item.estado === 'Entregado'">Entregado</option>
                                                </select>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>

                                    <!-- NOTAS -->
                                    <div class="col-10 border rounded py-2">
                                        <p class="fw-bold mb-1">NOTAS:</p>
                                        <p class="mb-0 text-break" *ngFor="let nota of comanda?.nota">
                                            - {{ nota.nota }}
                                        </p>
                                    </div>
                                    <!-- NOTAS -->

                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- DETALLES DE LA COMANDA -->

                </div>
                <!-- BEBIDAS -->

                <!-- BARRA -->
                <div *ngIf="barra.length > 0">

                    <hr>
                    <h4>Barra</h4>

                    <div class="d-flex justify-content-end my-2">
                        <button type="button" (click)="printDiv('printDiv3', barra)" class="btn btn-sm btn-success btnW waves-effect waves-ligth">
                        Imprimir
                    </button>
                    </div>

                    <!-- DETALLES DE LA COMANDA -->
                    <div id="printDiv3">

                        <div class="" *ngIf="comanda.img === 'mesa.svg'" style="color: black;">
                            <div style="width: 22rem;" class=" text-wrap">

                                <h2 class="mb-2 text-center">Orden # {{ comanda?.fecha | date: 'H-ms' }}</h2>
                                <h5 class=" mb-0 text-center text-wrap text-capitalize">{{ comanda?.name }}</h5>
                                <h6 class=" mb-0 text-center text-wrap text-capitalize fw-normal"> {{ comanda?.mesero.name }} </h6>
                                <p class=" mb-0 text-center"> Fecha: {{ comanda?.fecha | date: "medium" }} </p>
                                <h5 class=" mb-0 text-center text-wrap text-capitalize">{{ comanda.cliente?.name }}</h5>

                                <div class="table-responsive">

                                    <table class="table table-sm align-middle">
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    <h6 class="mb-0">Item</h6>
                                                </th>
                                                <th scope="col">
                                                    <h6 class="mb-0">Estado</h6>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <ng-container *ngFor="let item of barra; let i = index">

                                                <tr style="color: black;" *ngIf="item.estado === 'pendiente'">
                                                    <td>
                                                        <h6 class="mb-0 lh-1 text-capitalize"> <span class="lh-1">01 - {{item.product.name}}  </span></h6>

                                                        <!-- <span *ngFor="let ingrediente of item.ingredientes" class="badge rounded-pill bg-light text-primary fw-normal"> {{ ingrediente.name }} </span> -->
                                                        <ng-container *ngFor="let ingrediente of item.ingredientes">
                                                            <small *ngIf="!ingrediente.status" class="me-1 line-through"> {{ ingrediente.name }} </small>
                                                        </ng-container>

                                                    </td>
                                                    <td>
                                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" #estadoitem>
                                                    <option class="text-danger" value="Pendiente" [selected]="item.estado === 'Pendiente'">Pendiente</option>
                                                    <option class="text-warning" value="Preparando" [selected]="item.estado === 'Preparando'">Preparando</option>
                                                    <option class="text-success" value="Entregado" [selected]="item.estado === 'Entregado'">Entregado</option>
                                                </select>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>

                                    <!-- NOTAS -->
                                    <div class="col-10 border rounded py-2">
                                        <p class="fw-bold mb-1">NOTAS:</p>
                                        <p class="mb-0 text-break" *ngFor="let nota of comanda?.nota">
                                            - {{ nota.nota }}
                                        </p>
                                    </div>
                                    <!-- NOTAS -->

                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- DETALLES DE LA COMANDA -->

                </div>
                <!-- BARRA -->

            </div>



            <div class="modal-footer ">
                <button type="button " class="btn btn-secondary " data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- =========================================================================
    VER DETALLES DE LA COMANDA 
========================================================================= -->