<!-- =========================================================================
    HEADER 
========================================================================= -->
<header>
    <div class="bg-header-blue py-2 px-3 mb-2">
        <h5 class="text-white m-0">Comandas</h5>
    </div>
    <ul class="nav nav-tabs px-3" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark active" id="comandas-tab" data-bs-toggle="tab" href="#comandas" role="tab" aria-controls="comandas" aria-selected="true"><i class="bi-app" style="font-size: 1rem"></i> Comandas</a>
        </li>
    </ul>
</header>
<!-- =========================================================================
    HEADER 
========================================================================= -->

<!-- =========================================================================
    BODY 
========================================================================= -->
<div class="container-fluid mt-4 bg-light2">

    <!-- TITLE - SUBTITLE -->
    <div>
        <h5 class="text-dark">Comandas</h5>
    </div>
    <!-- TITLE - SUBTITLE -->

    <!-- COMANDAS -->
    <div class="d-flex flex-wrap">

        <div *ngFor="let mesa of listaMesas">
            <div class="p-2" *ngIf="mesa.img === 'mesa.svg'">
                <div style="width: 22rem;" class=" text-wrap bg-white p-3 position-relative">
                    <i [ngClass]="{'text-danger': mesa.disponible == false, 'text-success': mesa.disponible == true}" class="bi-dot position-absolute top-0 start-100 translate-middle pe-4 pt-2" style="font-size: 2.5rem;"></i>
                    <h5 class="mb-0 text-center text-wrap text-capitalize">{{ mesa.name }}</h5>
                    <h6 class="mb-0 text-center text-wrap text-capitalize fw-normal"> {{ mesa.mesero.name }} </h6>
                    <p class="mb-0 text-center"> Fecha: {{ mesa.fecha | date: "medium" }} </p>

                    <div class="d-flex justify-content-end my-2">
                        <button type="button" (click)="comandaModal(mesa)" data-bs-toggle="modal" data-bs-target="#comanda" class="btn btn-sm btn-primary btnW waves-effect waves-ligth">
                            Ver comanda
                        </button>
                    </div>

                    <div class="table-responsive">

                        <table class="table table-sm align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">Item</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Estado</th>
                                </tr>
                            </thead>
                            <tbody>

                                <ng-container *ngFor="let item of mesa.carrito; let i = index">

                                    <tr [ngClass]=" { 'table-danger': item.estado === 'Pendiente', 'table-warning': item.estado === 'Preparando', 'table-success': item.estado === 'Entregado'}">
                                        <td>
                                            <p class="mb-0 lh-1"> <small class="lh-1"> {{item.product.name}}  </small></p>
                                        </td>
                                        <td> <small> {{ item.qty }} </small> </td>
                                        <td>
                                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" (change)="cambiarEstado(mesa.carrito, item.product, esta.value, mesa)" #esta>
                                                <option class="text-danger" value="Pendiente" [selected]="item.estado === 'Pendiente'">Pendiente</option>
                                                <option class="text-warning" value="Preparando" [selected]="item.estado === 'Preparando'">Preparando</option>
                                                <option class="text-success" value="Entregado" [selected]="item.estado === 'Entregado'">Entregado</option>
                                            </select>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>

                        <!-- NOTAS -->
                        <div *ngIf="mesa?.nota.length > 0" class="container border rounded overflow-auto" #content style="max-height: 15rem; min-height: 5rem;">
                            <ul class="list-group list-group-flush py-2" #messages>
                                <li class="list-group-item border-0 py-1 px-1" *ngFor="let nota of mesa.nota">
                                    <div class="d-flex justify-content-start">
                                        <!-- <div>
                                            <button type="button" disabled class="btn btn-link p-1 text-danger">
                                                <i class="bi-trash" style="font-size: 0.9rem"></i>
                                            </button>
                                        </div> -->
                                        <div class="badge bg-light2 text-muted px-2 py-2 text-wrap text-start" style="width: auto;">
                                            <h6 class="mb-0">
                                                {{ nota.nota }}
                                            </h6>
                                            <p class="mb-0 text-end" *ngIf="nota.date "><small class="text-muted"> {{ nota?.date  | date: "medium" }} </small></p>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <!-- NOTAS -->

                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<!-- =========================================================================
    VER DETALLES DE LA COMANDA
========================================================================= -->
<div class="modal fade" id="comanda" tabindex="-1" aria-labelledby="comandaModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">

                <div>
                    <h5 class="modal-title text-capitalize" id="comandaModal">
                        <i class="bi-app" style="font-size: 2rem"></i> Detalles de la comanda
                    </h5>
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" *ngIf="comanda">

                <div class="d-flex justify-content-end my-2">
                    <button type="button" (click)="printDiv()" class="btn btn-sm btn-success btnW waves-effect waves-ligth">
                        Imprimir
                    </button>
                </div>

                <!-- DETALLES DE LA COMANDA -->
                <div id="printDiv">

                    <div class="p-2 d-flex justify-content-center" *ngIf="comanda.img === 'mesa.svg'">
                        <div style="width: 22rem;" class=" text-wrap bg-white p-3 position-relative">
                            <i [ngClass]="{'text-danger': comanda?.disponible == false, 'text-success': comanda?.disponible == true}" class="bi-dot position-absolute top-0 start-100 translate-middle pe-4 pt-2" style="font-size: 2.5rem;"></i>
                            <h5 class="mb-0 text-center text-wrap text-capitalize">{{ comanda?.name }}</h5>
                            <h6 class="mb-0 text-center text-wrap text-capitalize fw-normal"> {{ comanda?.mesero.name }} </h6>
                            <p class="mb-0 text-center"> Fecha: {{ comanda?.fecha | date: "medium" }} </p>


                            <div class="table-responsive">

                                <table class="table table-sm align-middle">
                                    <thead>
                                        <tr>
                                            <th scope="col">Item</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <ng-container *ngFor="let item of comanda?.carrito; let i = index">

                                            <tr>
                                                <td>
                                                    <p class="mb-0 lh-1 text-capitalize"> <span class="lh-1"> {{item.product.name}}  </span></p>
                                                </td>
                                                <td class="text-center"> <span> {{ item.qty }} </span> </td>
                                                <td>
                                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" (change)="cambiarEstado(comanda?.carrito, item.product, esta.value, mesa)" #esta>
                                                    <option class="text-danger" value="Pendiente" [selected]="item.estado === 'Pendiente'">Pendiente</option>
                                                    <option class="text-warning" value="Preparando" [selected]="item.estado === 'Preparando'">Preparando</option>
                                                    <option class="text-success" value="Entregado" [selected]="item.estado === 'Entregado'">Entregado</option>
                                                </select>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>

                                <!-- NOTAS -->
                                <div *ngIf="comanda?.nota.length > 0" class="container border rounded" #content>
                                    <p class="mb-0 fw-bold">Notas:</p>

                                    <ul class="list-group list-group-flush" #messages>
                                        <li class="list-group-item py-2" *ngFor="let nota of comanda?.nota">
                                            <p class="mb-0 text-capitalize">
                                                - {{ nota.nota }}
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- NOTAS -->

                            </div>

                        </div>
                    </div>

                </div>
                <!-- DETALLES DE LA COMANDA -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- =========================================================================
    VER DETALLES DE LA COMANDA 
========================================================================= -->