<!-- =========================================================================
    HEADER 
========================================================================= -->

<header>
    <div class="bg-header-blue py-2 px-3 mb-2">
        <h5 class="text-white m-0">Facturas</h5>
    </div>

    <ul class="nav nav-tabs px-3" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark active" id="facturas-tab"><i class="bi-journal-check" style="font-size: 1rem"></i> Factura <span *ngIf="factura"> #{{factura.invoice}} </span> </a>
        </li>

    </ul>

</header>

<!-- =========================================================================
    HEADER 
========================================================================= -->
<div class="container-fluid">


    <ng-container *ngIf="factura">
        <!-- TITLE - SUBTITLE -->
        <div class="mt-4">
            <h5 class="text-dark">DETALLES DE LA FACTURA #{{ factura.invoice }}</h5>
            <p class="mb-0">Cajero: {{ factura.user.name }}</p>

        </div>
        <!-- TITLE - SUBTITLE -->

        <div>

            <ng-container *ngIf="empresa">
                <button *ngIf="empresa.printpos" [routerLink]="['/dashboard/ventas/print', factura.iid]" type="button" class="btn btn-outline-primary btn-sm mx-1 my-2"> 
                    <i class="bi-printer"></i> Imprimir
                </button>

                <button *ngIf="!empresa.printpos" (click)="printDiv()" type="button" class="btn btn-outline-primary btn-sm mx-1 my-2"> 
                    <i class="bi-printer"></i> Imprimir
                </button>
            </ng-container>


            <button (click)="devolucion(factura.iid)" type="button" class="btn btn-outline-danger btn-sm mx-1 my-2"> 
                <i class="bi-arrow-counterclockwise"></i> Cancelar Factura
            </button>
            <button *ngIf="factura.credito" (click)="focusMonto()" type="button" class="btn btn-outline-dark btn-sm mx-1 my-2" data-bs-toggle="modal" data-bs-target="#facturar"> 
                Cobrar
            </button>
        </div>

        <div class="row">


            <!-- DETALLES DE LA FACTURA -->
            <div class="col-md-8 shadow-lg p-3 mb-5 rounded bg-white">

                <div id="printDiv">

                    <!-- SI ES A CREDITO -->
                    <span *ngIf="factura.credito" class="badge rounded-pill bg-warning text-dark mb-2">A Credito</span>

                    <!-- INFORMACION DEL CLIENTE -->
                    <div class="row">

                        <!-- Informacion del Cliente -->
                        <div class="col-md-8 text-left text-muted">

                            <div class="mb-2" *ngIf="empresa">
                                <!-- Image Product-->
                                <img *ngIf="empresa.logo" [src]=" empresa.logo | imagen:'logo'" class="mx-auto" width="200px" alt="">
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="text-wrap mb-0 text-capitalize"><strong>CLIENTE / RAZON SOCIAL:  </strong><br><small>{{ factura.client?.name }}</small></h6>
                                </div>
                                <div class="col">
                                    <h6 class="text-wrap mb-0 text-capitalize"><strong>CC / Nit: </strong> <br><small> {{ factura.client?.cedula }}</small></h6>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <h6 class="text-wrap mb-0 text-capitalize"><strong>TELEFONO: </strong> <br><small *ngIf="factura.client?.phone"> {{ factura.client?.phone }}</small> </h6>
                                </div>
                                <div class="col">
                                    <h6 class="text-wrap mb-0"><strong>CORREO: </strong> <br><small *ngIf="factura.client?.email"> {{ factura.client?.email }} </small></h6>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h6 class="text-wrap mb-0"><strong>DIRECCIÓN: </strong> <br><small *ngIf="factura.client?.address"> {{ factura.client?.address }} <span *ngIf="factura.client?.city" > {{ factura.client?.city }} </span></small></h6>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h6 class="text-wrap mb-0"><strong>VENDEDOR: </strong> <br><small *ngIf="factura.client?.address"> {{ factura.mesero.name }} </small></h6>

                                </div>
                            </div>

                        </div>

                        <div class="col">
                            <div class="col-12" *ngIf="empresa">
                                <!-- <div class="mb-2 d-flex justify-content-end">
                                <img *ngIf="empresa.logo" src="{{empresa.logo | imagen:'logo'}}" class="" width="200px" alt="">
                            </div> -->
                                <h5 class="text-muted mb-0 d-flex justify-content-end text-wrap text-end fw-bold"> {{ empresa.name }} </h5>
                                <p class="text-muted mb-0 d-flex justify-content-end text-wrap text-end"> {{ empresa.address }} </p>
                                <p class="text-muted mb-0 d-flex justify-content-end text-wrap text-end">Nit: {{ empresa.nit }} </p>

                                <small *ngIf="!empresa.responsable" class="mb-0 d-flex justify-content-end"> No responsable de IVA </small>
                                <small *ngIf="empresa.responsable && !empresa.impuestoconsumo" class="mb-0 d-flex justify-content-end"> Responsable de iva </small>
                                <small *ngIf="empresa.responsable && empresa.impuestoconsumo" class="mb-0 d-flex justify-content-end"> Responsable nacional al consumo </small>

                                <small *ngIf="empresa.responsable" class="mb-0 d-flex justify-content-end"> Resolución: {{ empresa.resolucion }} </small>
                                <small *ngIf="empresa.responsable" class="mb-0 d-flex justify-content-end"> Prefijo Pos: {{ empresa.prefijopos }} </small>
                                <h3 class="display-5 mb-0 d-flex justify-content-end text-primary"> {{ factura.invoice }} </h3>
                                <small class="mb-0 d-flex justify-content-end"> {{ factura.fecha | date:'medium' }} </small>
                            </div>
                        </div>

                    </div>
                    <!-- INFORMACION DEL CLIENTE -->

                    <!-- INFORMACION DE LA FACTURA -->
                    <ng-container *ngIf="empresa">
                        <h4 *ngIf="!empresa.responsable" class="text-center text-wrap"> Registro de operación de Venta </h4>
                        <h4 *ngIf="empresa.responsable" class="text-center text-wrap"> Factura de venta pos </h4>
                        <h4 *ngIf="!factura.status" class="text-center text-danger"> CANCELADA </h4>
                    </ng-container>



                    <div class=" table-responsive ">

                        <table class="table table-borderless table-striped table-hover table-sm animated fadeIn ">
                            <thead class="border-bottom ">
                                <tr>
                                    <th class="text-muted" scope="col">#</th>
                                    <th class="text-muted" scope="col">Codigo de barras</th>
                                    <th class="text-muted text-left" scope="col " colspan="2 ">Nombre del Producto</th>
                                    <th class="text-muted" scope="col">tipo</th>
                                    <th class="text-muted" scope="col">Precio</th>
                                    <th class="text-muted" scope="col">Cantidad</th>
                                    <th class="text-muted" scope="col">Monto</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let producto of factura.products; let i = index">
                                    <th> {{ i + 1 }} </th>
                                    <td><small class="text-wrap">{{ producto.product.code }}</small></td>
                                    <td colspan="2">{{ producto.product.name }}</td>
                                    <td>{{ producto.product.type }}</td>
                                    <td>{{ producto.price | currency}}</td>
                                    <td>{{ producto.qty }}</td>
                                    <td>{{ producto.price * producto.qty | currency}}</td>
                                    <td>
                                        <button type="button" class="btn btn-link p-1 text-warning" (click)="devolverProducto(producto)">
                                        <i class="bi-arrow-90deg-left"></i>
                                    </button>
                                        <button type="button" (click)="eliminarProducto(producto._id)" class="btn btn-link p-1 text-danger">
                                        <i class="bi-x"></i>
                                    </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                    <!-- TOTAL -->
                    <div>
                        <div class="d-flex py-2">

                            <div class="text-wrap px-2">
                                <h6 *ngIf="factura.nota">Nota:</h6>
                                <p *ngIf="factura.nota"> {{ factura.nota }} </p>
                            </div>

                            <div class="ms-auto d-flex justify-content-end">
                                <div class="border-start col px-4" *ngIf="empresa">

                                    <!-- NO RESPONSABLE -->
                                    <h6 class="mb-0 text-wrap text-primary text-rigth" *ngIf="!empresa.responsable"> {{ factura.base | currency }} </h6>
                                    <h6 class="mb-0 text-wrap text-primary text-rigth" *ngIf="empresa.responsable"> {{ factura.base | currency }} </h6>
                                    <!-- NO RESPONSABLE -->

                                    <h6 *ngIf="!empresa.responsable" class="mb-0 text-wrap text-primary text-left">No responsable de IVA</h6>
                                    <h6 *ngIf="empresa.responsable && !empresa.impuestoconsumo" class="mb-0 text-wrap text-primary text-left">IVA {{empresa.tax}}% {{ iva | currency }}% </h6>
                                    <h6 *ngIf="empresa.responsable && empresa.impuestoconsumo" class="mb-0 text-wrap text-primary text-left">Impuesto al consumo {{empresa.tax}}% {{iva | currency }} </h6>

                                    <!-- TOTAL -->
                                    <h5 *ngIf="empresa.responsable" class="display-6 fw-bold text-primary">{{ factura.amount | currency }}</h5>

                                    <h5 *ngIf="!empresa.responsable" class="display-6 fw-bold text-primary">{{ factura.amount | currency }}</h5>
                                    <!-- TOTAL -->

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- TOTAL -->

                </div>

                <!-- INFORMACION DE LA FACTURA -->

            </div>
            <!-- DETALLES DE LA FACTURA -->

            <!-- PAGOS -->
            <div class="col-md-4">

                <!-- TABLE CLIENTS -->
                <div class="shadow-lg p-3 mb-5 rounded bg-white" style="max-height: 400px; height: auto;">
                    <h5 class="">
                        Pagos
                    </h5>
                    <!-- CARGANDO -->
                    <div *ngIf="cargandoAgotados">
                        <div class="text-center p-4">
                            <div class="spinner-grow text-secondary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <small class="text-muted">cargando...</small>
                    </div>
                    <!-- CARGANDO -->

                    <div *ngIf="!cargandoAgotados" style="max-height: 100vh">

                        <div class="table-responsive " class="overflow-auto" style="max-height: 200px;">
                            <table class="table table-borderless table-striped table-hover table-sm animated fadeIn ">
                                <thead class="border-bottom ">
                                    <tr>
                                        <th class="text-muted " scope="col ">Descripcion</th>
                                        <th class="text-muted " scope="col ">Tipo</th>
                                        <th class="text-muted " scope="col ">Monto</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr class="trHover" *ngFor="let pay of payments; let i = index">
                                        <td>
                                            <span *ngIf="pay.description !== ''">{{ pay.description }}</span>
                                            <span *ngIf="pay.description === ''">Sin descripción</span>
                                        </td>
                                        <td>{{ pay.type }}</td>
                                        <td>{{ pay.amount | currency }} </td>
                                    </tr>

                                </tbody>
                                <tfoot>
                                    <tr class="border-top">
                                        <td colspan="2"> <span class="fw-bold"> Total </span></td>
                                        <td> <span class="fw-bold">{{this.totalPagos | currency }}</span> </td>
                                    </tr>
                                </tfoot>

                            </table>

                        </div>

                        <!-- BTN SIGUIENTE Y ANTERIOR -->
                        <div class="row">
                            <div class="col">
                                <small class="text-muted">Total de pagos: ({{payments.length}})</small>
                            </div>
                        </div>
                        <!-- BTN SIGUIENTE Y ANTERIOR -->

                    </div>
                </div>
                <!-- TABLE CLIENTS -->

            </div>
            <!-- PAGOS -->

        </div>

    </ng-container>



</div>
<!-- =========================================================================
    BODY 
========================================================================= -->

<!-- =========================================================================
    MODAL FACTURAR 
========================================================================= -->
<div class="modal fade" id="facturar" tabindex="-1" aria-labelledby="facturarModal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-0">

                <div class="container-fluid">
                    <div class="py-2">

                        <!-- COLUMNA IZQ -->
                        <div class="col px-0 bg-white">

                            <!-- TITULO -->
                            <div class="bg-header-blue py-1 px-2">
                                <h4 class="text-white fw-normal mb-0">Cobrar</h4>
                            </div>

                            <div class="container-fluid py-4">

                                <!-- TOTAL -->
                                <div class="text-center my-3">
                                    <ng-container *ngIf="factura">
                                        <h4 class="display-4 text-primary">{{ factura.amount | currency }}</h4>
                                    </ng-container>


                                    <small *ngIf="totalPagos > 0 && totalPagos < factura.amount" class="text-danger animated fadeIn">Resta</small>
                                    <small *ngIf="totalPagos > 0 && totalPagos >= factura.amount" class="text-success animated fadeIn">Vueltos</small>
                                    <h4 class="mb-0 fw-normal animated fadeIn" [ngClass]=" {   'text-danger': totalPagos < factura.amount, 
                                                        'text-success': totalPagos >= factura.amount
                                                    }" *ngIf="totalPagos > 0">
                                        {{ vueltos | currency }}
                                    </h4>

                                </div>
                                <!-- TOTAL -->


                                <div class="d-flex justify-content-center">

                                    <div>

                                        <!-- FORM INVOICE - FORM INVOICE -->
                                        <form autocomplete="off" [formGroup]="invoiceForm">

                                            <div class="row text-center">
                                                <div class="col p-2">

                                                    <input type="radio" (click)="limpiarPagos()" class="btn-check" name="type" formControlName="type" id="efectivo-outlined" value="efectivo" autocomplete="off" checked>
                                                    <label class="btn btn-outline-success" for="efectivo-outlined">
                                                    <i class="px-3 bi-cash-stack" style="font-size: 1.5rem;"></i>
                                                    <p class="mb-0">Efectivo</p>
    
                                                </label>

                                                </div>

                                                <div class="col p-2">

                                                    <input type="radio" (click)="limpiarPagos()" class="btn-check" name="type" formControlName="type" id="transferencia-outlined" value="transferencia" autocomplete="off">
                                                    <label class="btn btn-outline-info" for="transferencia-outlined">
                                                        <i class="px-3 bi-credit-card" style="font-size: 1.5rem;"></i>
                                                        <p class="mb-0">Transferencia</p>
                                                    </label>

                                                </div>

                                                <div class="col p-2">

                                                    <input type="radio" (click)="limpiarPagos()" class="btn-check" name="type" formControlName="type" id="tarjeta-outlined" value="tarjeta" autocomplete="off">
                                                    <label class="btn btn-outline-primary" for="tarjeta-outlined">
                                                    <i class="px-3 bi-credit-card" style="font-size: 1.5rem;"></i>
                                                    <p class="mb-0">Tarjeta</p>
                                                </label>

                                                </div>

                                                <div class="col p-2">

                                                    <input type="radio" (click)="limpiarPagos()" class="btn-check" name="options-outlined" name="type" formControlName="type" id="vale-outlined" value="vale" autocomplete="off">
                                                    <label class="btn btn-outline-secondary" for="vale-outlined">
                                                    <i class="px-3 bi-card-heading" style="font-size: 1.5rem;"></i>
                                                    <p class="mb-0">Vale</p>
                                                </label>

                                                </div>

                                                <div class="col p-2">
                                                    <input type="radio" (click)="limpiarPagos()" class="btn-check" name="options-outlined" name="type" formControlName="type" id="mixto-outlined" value="mixto" autocomplete="off">
                                                    <label class="btn btn-outline-dark" for="mixto-outlined">
                                                    <i class="px-3 bi-patch-question" style="font-size: 1.5rem;"></i>
                                                    <p class="mb-0">Mixto</p>
                                                    </label>
                                                </div>

                                                <div class="col p-2">
                                                    <input type="radio" (click)="limpiarPagos('credito')" #tcredito class="btn-check" name="options-outlined" name="type" formControlName="type" id="credito-outlined" value="credito" autocomplete="off">
                                                    <label class="btn btn-outline-warning" for="credito-outlined">
                                                    <i class="px-3 bi-clock-history" style="font-size: 1.5rem;"></i>
                                                    <p class="mb-0">Abono</p>
                                                    </label>
                                                </div>



                                            </div>

                                            <div class="mx-auto">

                                                <!-- TABLA -->
                                                <div class="table-responsive">
                                                    <table class="table table-sm table-borderless">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Descripcion</th>
                                                                <th>Monto</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody formArrayName="payments">
                                                            <tr class="trHover" *ngFor="let control of payments; let i = index">
                                                                <th>{{ i + 1}}</th>
                                                                <td>
                                                                    <p class="mb-0">{{ control.type }} <span *ngIf="control.description">- {{ control.description }}</span></p>
                                                                </td>
                                                                <td> {{ control.amount | currency }} </td>
                                                                <td>
                                                                    <button type="button" class="btn btn-link p-1 text-danger text-right" (click)="eliminarPagos(control)"> <i class="bi-trash"></i> </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                                <!-- TABLA -->

                                                <!-- AGREGAR METODO DE PAGO -->

                                                <div class="row g-3 d-flex justify-content-center">

                                                    <div class="col-auto">

                                                        <select class="form-select" aria-label="Default select example" (change)="typeAdd.value" #typeAdd>
                                                            <option *ngIf="invoiceForm.value.type === 'efectivo' || invoiceForm.value.type === 'mixto' || invoiceForm.value.type === 'credito'" value="efectivo">Efectivo</option>
                                                            <option *ngIf="invoiceForm.value.type === 'transferencia' || invoiceForm.value.type === 'mixto' || invoiceForm.value.type === 'credito'" value="transferencia">Transferencia</option>
                                                            <option *ngIf="invoiceForm.value.type === 'tarjeta' || invoiceForm.value.type === 'mixto' || invoiceForm.value.type === 'credito'" value="tarjeta">Tarjeta</option>
                                                            <option *ngIf="invoiceForm.value.type === 'vale' || invoiceForm.value.type === 'mixto' || invoiceForm.value.type === 'credito'" value="vale">Vale</option>
                                                        </select>

                                                    </div>

                                                    <div class="col-auto">
                                                        <label for="Descripción" class="visually-hidden">Descripción</label>
                                                        <input type="text" class="form-control w100" id="Descripción" placeholder="Descripción" (keyup)="descripcionAdd.value" #descripcionAdd>
                                                    </div>

                                                    <div class="col-auto">
                                                        <label for="monto" class="visually-hidden">Monto</label>

                                                        <ng-container *ngIf="factura">
                                                            <input type="number" class="form-control" id="monto" placeholder="Monto" [value]=" vueltos " autofocus="true" (keyup)="montoAdd.value" #montoAdd>
                                                        </ng-container>

                                                    </div>

                                                    <div class="col-auto">
                                                        <button type="button" class="btn btn-primary mb-3" (click)="agregarPagos(typeAdd.value, montoAdd.nativeElement.value, descripcionAdd.value, tcredito.checked)">Agregar</button>
                                                    </div>

                                                    <!-- <div class="col-auto" *ngIf="credit">
                                                        <label for="credi" class="visually-hidden">Fecha limite</label>
                                                        <input type="date" formControlName="fechaCredito" class="form-control" id="credi" placeholder="Selecciona una fecha limite" #fechCredito>
                                                    </div> -->

                                                </div>
                                                <!-- AGREGAR METODO DE PAGO -->

                                            </div>


                                        </form>
                                        <!-- FORM INVOICE - FORM INVOICE -->

                                    </div>

                                </div>
                            </div>


                        </div>
                        <!-- COLUMNA IZQ -->

                    </div>

                    <!-- BTN CREAR FACTURA -->
                    <div class="my-4 float-end">
                        <button type="button" (click)="guardarPago()" class="btn btn-outline-primary">

                                    Imprimir
                        </button>
                    </div>
                    <!-- BTN CREAR FACTURA -->


                </div>

            </div>
        </div>
    </div>
</div>
<!-- =========================================================================
    MODAL FACTURAR 
========================================================================= -->