<!-- =========================================================================
    HEADER 
========================================================================= -->

<header>
    <div class="bg-header-blue py-2 px-3 mb-2">
        <h5 class="text-white m-0">Traslado</h5>
    </div>

    <ul class="nav nav-tabs px-3" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark active" id="facturas-tab"><i class="bi-journal-check" style="font-size: 1rem"></i> Traslado <span *ngIf="traslado"> #{{traslado.referencia}} </span> </a>
        </li>
        <li class="nav-item" role="presentation">
            <a routerLink="/dashboard/configuracion/traslados" class="nav-link text-dark" id="facturas-tab"><i class="bi-journal-check" style="font-size: 1rem"></i> Traslados</a>
        </li>

    </ul>

</header>

<!-- =========================================================================
    HEADER 
========================================================================= -->
<div class="container-fluid pt-4">


    <ng-container *ngIf="traslado && empresa">
        
        <!-- BTNS -->
        <div class="row">

            <!-- DETALLES DE LA FACTURA -->
             <div class="col-md-8">

                <div class="card mb-2">
                    <div class="card-body">                        

                        <div class="d-flex flex-wrap justify-content-between align-items-center ">

                            <!-- DESDE -->
                            <div>
                                <h5 class="h5 mb-0">
                                    <span *ngIf="traslado.type === 'Enviado'"> {{ empresa.name }} </span>
                                    <span *ngIf="traslado.type === 'Recibido'"> {{ desde }} </span>
                                </h5>
                            </div>

                            <!-- ICON -->
                             <div>
                                <h5 class="text-success display-5 mb-0">
                                    <i class="bi bi-arrow-right"></i>
                                </h5>
                             </div>

                            <!-- PARA  -->
                            <div>
                                <h5 class="h5 mb-0">
                                    <span *ngIf="traslado.type === 'Enviado'"> {{ traslado.bodega.name }} </span>
                                    <span *ngIf="traslado.type === 'Recibido'"> {{ empresa.name }} </span>
                                </h5>
                            </div>

                        </div>

                        
        
                    </div>
                </div>

             
                <div class="shadow-lg p-3 mb-5 rounded bg-white">

                    <div id="printDiv">

                        <!-- INFORMACION DE LA FACTURA -->
                        <h4 class="text-center text-wrap"> Productos </h4>

                        <div class=" table-responsive ">

                            <table class="table table-borderless table-striped table-sm ">
                                <thead class="border-bottom">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Codigo de barras</th>
                                        <th class=" text-left" scope="col " colspan="2 ">Nombre del Producto</th>
                                        <th scope="col">tipo</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody class="text-dark">

                                    <tr *ngFor="let producto of traslado.products; let i = index">
                                        <th> {{ i + 1 }} </th>
                                        <td><small class="text-wrap">{{ producto.code }}</small></td>
                                        <td colspan="2">{{ producto.name }} </td>
                                        <td>{{ producto.type }}</td>
                                        <td>{{ producto.price | currency : '$': symbol: '1.0-0'}}</td>
                                        <td class="text-center">{{ producto.qty }}</td>
                                        <td>
                                            <button [disabled]="traslado.type !== 'Recibido' || producto.confirmado" (click)="confirmar(producto, i)" type="button" class="btn btn-sm" [ngClass]="{'btn-success': producto.confirmado, 'btn-warning': !producto.confirmado}" >
                                                <span *ngIf="producto.confirmado">Confirmado</span>
                                                <span *ngIf="!producto.confirmado">Confirmar</span>
                                            </button>
                                            

                                        </td>


                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>

                    <!-- INFORMACION DE LA FACTURA -->

                </div>
            </div>
            <!-- DETALLES DE LA FACTURA -->

            <!-- PAGOS -->
            <div class="col-md-4">

                <!-- METODOS DE PAGO Y CREDITO -->
                <div class="card">
                    <div class="card-body">
                        
                        <div *ngIf="traslado.type === 'Recibido'">
                            <button (click)="llegada()" type="button" class="btn btn-primary w-100">
                                Confirmar LLegada
                            </button>
                            
                        </div>

                        <hr *ngIf="traslado.type === 'Recibido'">                       

                        <p class="mb-0"> <span class="fw-bold">Estado:</span> {{ traslado.estado }}</p>
                        <p class="mb-0"> <span class="fw-bold">Referencia:</span> {{ traslado.referencia }}</p>
                        <p class="mb-0"> <span class="fw-bold">Fecha:</span> {{ traslado.fecha | date: 'short' }}</p>
                        <p *ngIf="traslado.fechaIn" class="mb-0"> <span class="fw-bold">Fecha Llegada:</span> {{ traslado.fechaIn | date: 'short' }}</p>

                    </div>
                </div>

            </div>
            <!-- PAGOS -->

        </div>

    </ng-container>



</div>
<!-- =========================================================================
    BODY 
========================================================================= -->