<!-- =========================================================================
    HEADER 
========================================================================= -->
<header class="mb-3">
    <div class="bg-header-blue py-2 px-3 mb-2">
        <h5 class="text-white m-0">Configuraciones / Parqueadero</h5>
    </div>
    <ul class="nav nav-tabs px-3" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark" id="ticket1-tab" routerLink="/dashboard/configuracion/parqueadero"><i class="bi-car-front" style="font-size: 1rem"></i> Parqueadero</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link text-darka active" id="ticket1-tab" routerLink="/dashboard/parqueadero/reportes"><i class="bi-receipt" style="font-size: 1rem"></i> Reportes</a>
        </li>

    </ul>
</header>
<!-- =========================================================================
    HEADER 
========================================================================= -->

<div class="container-fluid">

    <!-- TITLE - SUBTITLE -->
    <div>
        <h5 class="text-dark">Reportes de parqueadero</h5>
    </div>
    <!-- TITLE - SUBTITLE -->

</div>

<!-- TABLE FACTURAS -->
<div class="shadow-lg p-3 mb-5 rounded bg-white">

    <div class=" d-flex justify-content-between mb-3 ">

        <div>
            <button type="button" class="ml-2 btn btn-outline-success btn-sm" (click)="exportar()"> <i class="bi-file-earmark-spreadsheet"></i> Excel </button>
        </div>

        <div>
            <label for="mostrar" class="me-2">Mostrar: </label>
            <select name="" id="" [value]="query.hasta" #mostrar (change)="limiteChange(mostrar.value)">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="250">250</option>
                <option value="500">500</option>
            </select>
        </div>

    </div>

    <!-- CARGANDO -->
    <div *ngIf="cargando">
        <div class="text-center p-4">
            <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <small class="text-muted">cargando...</small>
    </div>
    <!-- CARGANDO -->

    <div *ngIf="!cargando">

        <!-- BUSCADOR -->

        <div class="d-flex flex-wrap justify-content-end row g-2 align-items-center">

            <div class="col-auto">
                <label class="" for="">Desde</label>
            </div>

            <div class="col-auto">
                <input type="datetime-local" class="form-control" (change)="initial.value" #initial>
            </div>

            <div class="col-auto">
                <label class="" for="">Hasta</label>
            </div>

            <div class="col-auto">
                <input type="datetime-local" class="form-control" (change)="end.value" #end>
            </div>

            <div class="col-auto">
                <button type="button" class="btn btn-outline-primary btn-sm py-auto h-100" (click)="buscar(initial.value, end.value)"> 
                    <i class="bi-search"></i> Buscar 
                </button>
            </div>
        </div>
        <!-- BUSCADOR -->

        <div class="table-responsive ">
            <table class="table table-borderless table-striped table-hover table-sm animated fadeIn ">
                <thead class="border-bottom ">
                    <tr>
                        <th class="text-muted " scope="col"># Placa</th>
                        <th class="text-muted " scope="col">Cliente</th>
                        <th class="text-muted " scope="col">Categoria</th>
                        <th class="text-muted " scope="col">Usuario</th>
                        <th class="text-muted " scope="col">cehckin</th>
                        <th class="text-muted " scope="col">cehckout</th>
                        <th class="text-muted " scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngIf="parqueos.length === 0" class="text-center ">
                        <th colspan="13" class="py-4">
                            <h4 class="text-muted"> No hay vehiculos parqueados </h4>
                        </th>
                    </tr>

                    <tr class="trHover" *ngFor="let parq of parqueos; let i = index">
                        <th scope="row ">
                            <span *ngIf="parq.estado === 'Parqueado'" class="badge badge-danger">P</span>
                            <span *ngIf="parq.estado === 'Finalizado'" class="badge badge-success">F</span>
                            {{ parq.placa }}
                        </th>
                        <td>{{ parq.car.cliente }}</td>
                        <td>{{ parq.car.typeparq.name }}</td>
                        <td> {{ parq.user.name }} </td>
                        <td>{{ parq.checkin | date: 'short' }}</td>
                        <td>{{ parq.checkout || '' | date: 'short' }}</td>
                        <td>{{ parq.total | currency }}</td>


                    </tr>

                </tbody>

            </table>

        </div>

        <!-- BTN SIGUIENTE Y ANTERIOR -->
        <div class="row">
            <div class="col col-md-4">

                <small class="text-muted"> (Resultados: {{ parqueos.length }})</small>
                <small *ngIf="query.desde !== 0" class="text-muted"> - (Desde el: {{ query.desde + 1}} Hasta el: {{ query.desde + parqueos.length }})</small>

            </div>

            <div class="col d-flex justify-content-end">
                <button type="button" (click)="cambiarPagina((query.hasta * -1))" [disabled]="query.desde === 0" class="btn btn-sm btn-dark btnW waves-effect waves-light px-3">Anterior</button>
                <button type="button" (click)="cambiarPagina(query.hasta)" [disabled]="(query.desde + 10) > parqueos.length" class="btn btn-sm btn-dark btnW waves-effect waves-light px-3 ms-2">Siguiente</button></div>
        </div>
        <!-- BTN SIGUIENTE Y ANTERIOR -->

    </div>

</div>
<!-- TABLE FACTURAS -->