<!-- =========================================================================
    HEADER 
========================================================================= -->
<header>
    <div class="bg-header-yellow py-2 px-3 mb-2">
        <h5 class="text-white m-0">PRODUCTOS</h5>
    </div>
    <ul class="nav nav-tabs px-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link text-dark" id="administracion-tab" data-bs-toggle="tab" routerLink="/dashboard/productos" role="tab" aria-controls="administracion" aria-selected="false"><i class="bi-files" style="font-size: 1rem"></i> Administracion de Productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" id="nuevo-tab" data-bs-toggle="tab" routerLink="/dashboard/productos/nuevo" role="tab" aria-controls="nuevo" aria-selected="false"><i class="bi-pencil-square" style="font-size: 1rem"></i> Crear Producto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="departamentos-tab" data-bs-toggle="tab" routerLink="/dashboard/productos/departamento" role="tab" aria-controls="departamentos" aria-selected="false"><i class="bi-collection" style="font-size: 1rem"></i> Departamentos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark active" id="departamentos-tab" aria-selected="true"><i class="bi-collection" style="font-size: 1rem"></i> Movimientos</a>
        </li>
    </ul>
</header>
<!-- =========================================================================
    HEADER 
========================================================================= -->
<!-- =========================================================================
    BODY 
========================================================================= -->
<div class="container-fluid my-4">

    <!-- TABLE CLIENTS -->
    <div class="shadow-lg p-3 mb-5 rounded bg-white">

        <!-- CARGANDO -->
        <div *ngIf="cargando">
            <div class="text-center p-4">
                <div class="spinner-grow text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <small class="text-muted">cargando...</small>
        </div>
        <!-- CARGANDO -->

    </div>

    <div *ngIf="!cargando">
        <div>
            <div class="form-floating mb-2">
                <span class="position-absolute top-50 start-90 translate-middle"><i class=" bi-search " style="font-size: 1rem "></i></span>
                <input type="text" class="form-control" id="floatingInput2" placeholder="Buscar Producto" (keyup)="buscar(search.value)" #search>
                <label for="floatingInput2 ">Buscar Producto</label>
            </div>
        </div>

        <!-- BTN CREAR CAJA -->
        <div class="d-flex justify-content-end">

            <div class="row">
                <div class="col pe-0">Mostrar:</div>
                <div class="col">
                    <select class="form-select form-select-sm" (change)="cambiarLimite(limit.value)" [value]="limite" aria-label=".form-select-sm example" #limit>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>

            </div>


        </div>
        <!-- BTN CREAR CAJA -->

        <div class="table-responsive ">
            <table class="table table-borderless table-striped table-hover table-sm animated fadeIn ">
                <thead class="border-bottom ">
                    <tr>
                        <th class="text-muted " scope="col ">#</th>
                        <th class="text-muted " scope="col " colspan="2">Codigo</th>
                        <th class="text-muted " scope="col " colspan="2">Nombre</th>
                        <th class="text-muted " scope="col ">Descripción</th>
                        <th class="text-muted " scope="col ">Tipo</th>
                        <th class="text-muted " scope="col ">Antes</th>
                        <th class="text-muted " scope="col ">Cantidad</th>
                        <th class="text-muted " scope="col ">Stock</th>
                        <th class="text-muted " scope="col ">Usuario</th>
                        <th class="text-muted " scope="col ">fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!sinResultados" class="text-center ">
                        <th colspan="10" class="py-4">
                            <h4 class="text-muted">Sin Resultados</h4>
                        </th>
                    </tr>
                    <tr class="trHover" *ngFor="let item of productosLog; let i = index">
                        <th scope="row ">{{ i + 1}}</th>
                        <td colspan="2">{{ item.code }}</td>
                        <td colspan="2">{{ item.name }}</td>
                        <td>
                            <a *ngIf="item.invoice" [routerLink]="['/dashboard/factura', item.invoice._id]">                            
                                {{ item.description }}
                            </a>
                            <span *ngIf="!item.invoice">
                                {{ item.description }}                                
                            </span>
                        </td>
                        <td>
                            <span *ngIf="item.type === 'Salida'" class="badge rounded-pill bg-danger text-white-75">{{ item.type }}</span>
                            <span *ngIf="item.type === 'Agrego'" class="badge rounded-pill bg-success text-white-75">{{ item.type }}</span>
                            <span *ngIf="item.type === 'Elimino'" class="badge rounded-pill bg-warning text-white-75">{{ item.type }}</span>
                            <span *ngIf="item.type === 'Devolución'" class="badge rounded-pill bg-info text-white-75">{{ item.type }}</span>
                        </td>

                        <td>{{ item.befored }}</td>
                        <td>{{ item.qty }}</td>
                        <td>{{ item.stock }}</td>
                        <td>{{ item.cajero.name }}</td>
                        <td> <small class="text-wrapp"> {{ item.fecha | date:'medium'}}</small></td>
                    </tr>
                </tbody>

            </table>

        </div>

        <!-- BTN SIGUIENTE Y ANTERIOR -->
        <div class="row">
            <div class="col col-md-4">
                <small class="text-muted">Total de movimientos: ({{total}})</small>
                <small *ngIf="resultado !== 0" class="text-muted"> - (Resultados: {{ resultado }})</small>
                <!-- <small *ngIf="desde !== 0" class="text-muted"> - (Desde el: {{ desde + 1}} Hasta el: {{ desde + productosLog.length }})</small> -->
            </div>

            <div *ngIf="search.value.length === 0" class="col d-flex justify-content-end">
                <button type="button" (click)="cambiarPagina('back')" class="{{btnAtras}} btn btn-sm btn-dark btnW waves-effect waves-light px-3">Anterior</button>
                <button type="button" (click)="cambiarPagina('next')" class="{{btnAdelante}} btn btn-sm btn-dark btnW waves-effect waves-light px-3 ms-2">Siguiente</button>
            </div>
        </div>
        <!-- BTN SIGUIENTE Y ANTERIOR -->

    </div>

</div>

<!-- =========================================================================
BODY 
========================================================================= -->